[2021-04-12 15:19] iramiller commented on #6303
The documentation of a module isn't as helpful if the instance you are connecting to has a custom filter on which events it has indexed.

[2021-04-12 16:35] alexanderbez commented on #6303
Correct, and that is currently not exposed. However, if you control the instances/nodes, then you should know.

[2021-04-13 09:49] skadefro opened #6348 "Add fullDocument: 'deleteLookup' option on Change Streams"
## Summary
Change Streams is a fantastic feature. As you know the pipeline does not really work, when handling update documents without also adding { fullDocument: 'updateLookup' } option when creating the watch.
This is also the case for deletes thou, could you also add a { fullDocument: 'deleteLookup' } option to watches ?

## Problem Definition
Make Change Streams usefull, when depending on pip

[2021-04-13 09:50] #6348 closed

[2021-04-13 09:51] skadefro commented on #6348
Damn, how did i end up in the wrong repository .. sorry about that.

[2021-04-13 10:46] rupam150 opened #6349 "tendermint testnet"
Hi i have setup 4 nodes using tendermint testnet command for my blockchain project  , and nodes are running well with it , but if i want to setup  5 or more  nodes using tendemint testnet command what should i do ??

[2021-04-14 12:05] #5764 closed

[2021-04-14 13:17] marbar3778 opened #6354 "rpc: genesis endpoint"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source): Present on master.

**ABCI app** (name for built-in, URL for self-written if it's publicly available): Cosmos-sdk

**Environment**:
- **OS** (e.g. from /etc/os-release):
- **Install tools**:
- **Others**:

**What happened**:

When querying the Tendermint RPC I was not able to receive the en

[2021-04-14 15:38] alexanderbez commented on #6354
Just to clear it up a bit more,

The old `/genesis` endpoint will still exist, however, it will error if the genesis file is too large, stating chunking should be used.

[2021-04-14 19:29] #6338 closed

[2021-04-14 20:31] cmwaters commented on #6289
I think we can close this now (ref: https://github.com/tendermint/tendermint/pull/6339)

[2021-04-14 20:31] #6289 closed

[2021-04-15 12:55] liamsi commented on #2956
Although this is only used in tests etc, this library now often called tmrand.Rand instead of cmn.Rand really should just be deleted. If I have some time during the weekends, I'll try to replace it with "math/rand" or a super lightweight wrapper around math/rand.

[2021-04-15 23:43] tarcieri opened #6359 "rpc: read-your-writes consistency"
I was a bit uncertain whether to file this as a bug report or a feature request. I started as a bug, and looking at the feature request template I felt a bug report style might be a bit more appropriate, though the likely resolution for this is probably a new feature.

**Tendermint version**

0.34.0

**ABCI app**

[code]

**Environment**:

@jackzampolin's gaia test container: https://hub.docker.co

[2021-04-16 00:14] tarcieri opened #6360 "check_tx failed: code=111222, codespace=undefined after genesis but before first block"
**Tendermint version**

0.34.0

**ABCI app**

[code]

**Environment**:

@jackzampolin's gaia test container: https://hub.docker.com/r/jackzampolin/gaiatest

**What happened**:

The `single-node.sh` entrypoint script in the `jackzampolin/gaiatest` creates a genesis account:

[code]

After booting a new node and waiting for a successful `/genesis` response containing `$GENACCT` and the `$coins` dist

[2021-04-16 11:46] cmwaters commented on #6359
Hey @tarcieri, you're spot on with your analysis.

A `/broadcast_commit` call subscribes to the `EventBus` the same way that the Tx Indexer does. This means that when a block get's committed and the events are fired, the broadcast commit returns the result at around the same time that the Tx Indexer receives the Tx to index. Thus the delay arises from the time the Tx Indexer takes to store the Tx.

[2021-04-16 11:58] alexanderbez commented on #6359
Totally get the concern @tarcieri, but we make zero guarantees about the tx and block indexer, especially not RYW and I'm not sure we ever can or ever will being that it's async and event driven, as well as many things could fail on the indexing side.

I suppose you could view the indexer as eventually consistent. However, for your specific use case can you not just use the `/tx?hash=` endpoint?

[2021-04-16 12:00] alexanderbez commented on #6360
I think this issue belongs in the SDK tbh. The error you received was due to a result in a recovered panic in the SDK.

[2021-04-16 14:22] tarcieri commented on #6359
That sounds like it might do the trick. I guess it isn't wrapped in the Rust RPC client though:

https://docs.rs/tendermint-rpc/0.19.0/tendermint_rpc/trait.Client.html

I can take a look at getting it added.

[2021-04-16 16:23] cmwaters opened #6363 "config: reuse `Seeds` p2p config parameter as initial peers to connect with"
## Summary

Since seed nodes aren't treated any differently in a system, the `P2PConfig.Seeds` parameter is unused.

## Proposal

Nodes need to be able to bootstrap to a few peers on start up such that they can run the PEX reactor with and get addresses of the nodes in the network. Currently, we use `P2PConfig.PersistentPeers` to add nodes. However persistent peers have a special use, nodes that w

[2021-04-16 16:32] cmwaters commented on #6363
Actually I change my mind. I think we should probably rename it else users will think that only seed nodes go there

[2021-04-16 18:29] alexanderbez commented on #6363
Rename what exactly @cmwaters?

[2021-04-16 18:32] cmwaters commented on #6363
`P2PConfig.Seeds` to `P2PConfig.InitialPeers`. Well we'd probably leave the seeds parameter there so it's more of making a new p2p config param rather than renaming one

[2021-04-16 18:42] alexanderbez commented on #6363
Why can't we just use `P2PConfig.Seeds`?

[2021-04-16 18:47] cmwaters commented on #6363
I don't mind directly using `P2PConfig.Seeds`. There could be enough overlap. My understanding of the difference:
- `P2PConfig.Seeds`: Previously used to refer to seed nodes only and indicated to the node that these nodes would behave differently whereas now seed nodes behave in the same manner but they have only the PEX reactor running. When a node was running low on peers it would fall back to a

[2021-04-16 18:58] alexanderbez commented on #6363
IMHO, if we add `P2PConfig.InitialPeers`, I can see this really confusing operators. Best to introduce less configuration if we can. If it's an absolute must, I suppose we can but we need to be very explicit with documentation.

[2021-04-16 18:58] alexanderbez commented on #6363
Also keep in mind, the legacy p2p stack will be removed at some point.

[2021-04-17 12:30] cmwaters commented on #6363
Yeah so you definitely have more experience than me when it comes to operating so I would defer final judgement to you.

What I know is that we definitely need some way that we can bootstrap the PEX reactor with some initial peers to get it going. At the moment this can only be done with `PersistentPeers`. However, I imagine not all nodes want to have persistent peers. We should offer an alternati

[2021-04-19 14:42] marbar3778 commented on #6360
closing this as it belongs in the sdk.

[2021-04-19 14:42] #6360 closed

[2021-04-19 15:56] alexanderbez commented on #6363
I have a preference for this. Let's add a new configuration and eventually remove seeds. I'm ok with just `Peer` or `BootstrapPeers` or something similar 👍

[2021-04-19 19:01] JayT106 opened #6369 "mempool: transaction drop mechanism"
## Summary

To implement a timeout mechanism in the mempool to drop the transactions when the pool update.

## Problem Definition

The mempool doesn't have a timeout mechanism to drop the transactions automatically. So if some transactions stuck in the mempool and occupy some mempool space, the pool might not be able to accept new transactions.
ref: https://github.com/tendermint/tendermint/discuss

[2021-04-19 22:00] alexanderbez commented on #6369
Thanks @JayT106 for creating the issue. This should be a fairly low-lift and easy thing to add with high value.

@tessr can we add this to the 0.35 milestone?

[2021-04-19 23:43] tessr commented on #6032
Related issues:

* Concurrency problems in blockstore https://github.com/tendermint/tendermint/issues/5383
* Older conversations about picking a db in tm-db https://github.com/tendermint/tm-db/issues/38

Also, is it safe to say that the indexer issues will no longer be relevant once the streaming-only indexer (https://github.com/tendermint/tendermint/issues/6303) lands?

[2021-04-20 08:19] cmwaters opened #6371 "PEX: eventually remove v1 reactor"
This is more of a reminder than an issue.

## Summary

When we go to remove the legacy p2p, we should also remove the pex reactor (v1) (thus also renaming the v2 reactor). In addition we should look to clean up and consolidate the params file and remove the address book

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ]

[2021-04-20 08:58] cmwaters commented on #6349
Hey @rupam150,

For simply initialising multiple nodes you can run:

[code]
where the 5 here indicates to create 5 validators.

If you want better ease of use with setting up and running them, I would suggest using docker instances. You can find documentation for this [here](https://docs.tendermint.com/master/networks/docker-compose.html)

[2021-04-20 09:00] cmwaters commented on #6325
I'm closing this issue now because I believe it has been resolved. If there's something left outstanding that I've missed then let me know and we can open this issue up again.

[2021-04-20 09:00] #6325 closed

[2021-04-20 09:20] cmwaters opened #6373 "cmd: integrate e2e test commands"
## Summary

This was a proposed feature of the original e2e test RFC (now an ADR) that was never implemented.

## Proposal

I think the command set in the e2e tests provides a lot of great features when playing around with testnets that we should export to end users.

This is a relatively simple change, however one piece of work that we might want to add is to allow users to connect the e2e tests

[2021-04-20 13:07] marbar3778 commented on #6032
we will support the old indexer on top of the new ones for the time being. At a later date it will be irrelevant.

[2021-04-20 16:14] alexanderbez commented on #6371
Thanks @cmwaters, but we should also track this in the p2p meta issue as well 👍

[2021-04-20 16:16] cmwaters commented on #6371
Yup I've already added this to #5670

[2021-04-20 22:43] faddat commented on #6032
Is it safe / possible / advisable to completely remove the WAL?

It seems to limitthe use of Tendermint in embedded settings where we're storing data on SD Cards.

[2021-04-21 05:27] rupam150 commented on #6349
Hey @cmwaters  thank you for your reply , just have one query if can i change the starting-ip-adress 192.168.10.2 with my own local ip adresses if i have already setup 5 nodes in my local system.

[2021-04-21 16:50] #6326 closed

[2021-04-21 16:50] #6312 closed

[2021-04-22 10:55] #6363 closed

[2021-04-22 13:54] #5880 closed

[2021-04-22 15:39] milosevic commented on #5698
My understanding is that for evidence handling purpose we need to have access to a blockchain (not even sure if commits at all are needed there). As Callum correctly pointed out, light client attack evidences capture sufficient information need to verify and process them. Regarding amnesia in particular, the current protocol requires access to all votes (prevote and precommit) between conflicting

[2021-04-22 17:44] tychoish commented on #5481
it seems likely that https://github.com/tendermint/tendermint/commit/d36a5905a67db1ed7afb09f371b3ea3910afb6eb would fix this.

[2021-04-23 13:14] cmwaters opened #6388 "evidence: revise hashing method"
## Summary

A problem with seeing inconsistent evidence hashes (particularly LightClientAttackEvidence) was noted in #6326

A non breaking fix was made to the problem here: https://github.com/tendermint/tendermint/pull/6375 which revised how we encoded and decoded validator sets to be consistent (with respect to the unexported field: TotalVotingPower)

Given the opportunity to make a block protoco

[2021-04-23 13:16] cmwaters commented on #6359
I'm going to close this issue now because I believe it has been addressed. If I'm wrong, then let me know and I will reopen the issue

[2021-04-23 13:16] #6359 closed

[2021-04-23 13:22] cmwaters opened #6389 "light: errors with connecting a light client to the hub"
## Summary

@marbar3778 and later myself tried to connect  light clients to the hub and came across the following errors.

For `v0.34.x`:
[code]
For `master`:
[code]

## Proposal

We should investigate these

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-04-23 13:25] cmwaters commented on #6349
If you've already set the nodes up then I would just change the `config.toml` files for each of them by replacing the `ListenAddrs` in the P2P and RPC section with your IP address/es. (If it's all on the same address then just increment the ports)

[2021-04-23 14:00] #2956 closed

[2021-04-23 16:03] alexanderbez commented on #6388
ACK 👍

[2021-04-24 02:38] zanglang opened #7924 "spec: peer quality docs are missing"
The "Seeds" document (https://docs.tendermint.com/master/spec/p2p/node.html#seeds) links to a Pex reactor document on the address book and peer vetting process which was removed in https://github.com/tendermint/spec/pull/242. The contents of this page (https://github.com/tendermint/spec/blob/1b2b24055c5e44c41347cd524a713f0eddb7881c/spec/reactors/pex/pex.md) is currently not available on master.

[2021-04-26 05:01] rupam150 commented on #6349
okkay thanx @cmwaters

[2021-04-26 05:01] #6349 closed

[2021-04-26 11:03] #6271 closed

[2021-04-26 14:54] tychoish opened #6392 "cmd: operationalize key migration script for 0.34"
The following migration script is complete, but isn't connected to an upgrade workflow or command line interface, so we need to do this before the release. The migration code is here:

https://github.com/tendermint/tendermint/blob/master/scripts/keymigrate/migrate.go#L335-L347

[2021-04-27 06:27] puffanddmx opened #6393 "docker-compose log file save"
When running daemon using docker-compose, I want to save the daemon log in the container. Since the Tender Mint node itself does not have a log storage function, it is saved using nohup, but it is difficult to save it using the nohup function in the docker container. If there is a way, please let me know.

[2021-04-27 06:41] marbar3778 opened #6394 "lightclient: unable to sync"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source): 0.34.x and 0.34.10

**ABCI app** (name for built-in, URL for self-written if it's publicly available): Cosmos-SDK and Tendermint

**Environment**:
- **OS** (e.g. from /etc/os-release): Mac
- **Install tools**: Make
- **Others**:

**What happened**: When using the light client to sync with t

[2021-04-27 19:15] tychoish opened #6397 "consensus: remove the WAL after database project"
## Summary

As part of #6032, we want to replace the data persistence layer (presently tm-db) that will provide a data layer that more durable and safe, and will make it possible to eliminate the use of a separate write-ahead-log (WAL) and rely on the storage engine itself for this level of functionality.

## Problem Definition

The separate WAL code in the consensus package is something of a main

[2021-04-27 19:47] alexanderbez commented on #6397
I support this endeavor! The current WAL is pretty buggy as well. I do recall @ebuchman stating there was an additional purpose to the WAl. Would love for him to chime in here.

[2021-04-27 19:55] tychoish commented on #6397
The WAL code seems partially responsible for managing state machine within the consensus package, and I'm not proposing changing this aspect, but rather just removing the writing files to disk part.

[2021-04-28 07:43] marbar3778 commented on #5978
With the new eventsink system, we will be implemented a postgres indexer. This can be supported through that.

[2021-04-28 20:22] ethanfrey opened #6403 "Events get mangled when non-utf8 value in Value"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

v0.34.10

**ABCI app** (name for built-in, URL for self-written if it's publicly available):

Cosmos SDK v0.42.4 (and master)

**Environment**:
- **OS** (e.g. from /etc/os-release):
- **Install tools**:
- **Others**:

**What happened**:

A custom IBC app dared to actually return binary dat

[2021-04-28 20:36] tychoish opened #6404 "e2e: improve system benchmarking tools"
## Summary

In an effort to help build confidence in the new P2P stack I ran a bunch of benchmarks on my local machine that compared the performance of the new legacy P2P stack, the new P2P stack, and networks running in a mixed mode that have nodes running both new and old nodes. This builds on top of the existing e2e framework and tooling, and the purpose of this ticket is to outline how I've ru

[2021-04-28 22:57] tessr commented on #6403
Thanks for this detailed report. Just to make sure I understand: your recommendation is to change the ABCI interface for [`EventAttribute`](https://github.com/tendermint/tendermint/blob/master/proto/tendermint/abci/types.proto#L285) to use strings instead of bytes?

[2021-04-28 23:41] tessr commented on #6388
When you say "breaking change," you mean a _block protocol breaking change_ (hard fork), right?

[2021-04-28 23:55] tessr commented on #6233
I think this would be good fodder for an upcoming dev call, maybe the one on May 13. @thanethomson, will you be available for that one?

[2021-04-29 02:58] alexanderbez commented on #5978
Does `{eventType}.{EventAttribute}='"string"'` not work?

[2021-04-29 03:14] alexanderbez commented on #6388
Great question!

[2021-04-29 03:22] alexanderbez commented on #6403
Yeah I think so and I support the proposal!

[2021-04-29 06:23] cmwaters commented on #6394
This issue is also mentioned in #6389

[2021-04-29 06:25] cmwaters commented on #6373
Add the e2e commands to the `tendermint` cli in replace of `tendermint testnet`. We will also need to make slight modifications to the e2e framework to configure other apps to be able to use it instead of the default test app

[2021-04-29 06:29] cmwaters commented on #6388
Yes this would be a block protocol breaking change (hard fork)

[2021-04-29 06:31] #1032 closed

[2021-04-29 06:43] marbar3778 commented on #6394
oh whoops, thought that was focused on master syncing. Will close this

[2021-04-29 06:43] #6394 closed

[2021-04-29 07:12] marbar3778 commented on #6373
Is this only the generator or also the spinning up of network? Testnet command is used to also quickly setup distributed testnets through various devops tools. We should try to keep the same functionality.

[2021-04-29 07:16] cmwaters commented on #6373
Can you elaborate? AFAICS, `testnet` is just good for initialising multiple nodes with different ip's in some file directory

I was thinking of being able to spin up the network (as well as load it, perturb it, benchmark it and so forth)

[2021-04-29 07:51] cmwaters opened #6405 "p2p: support private peers"
## Summary

The old p2p system allowed for private peers to be added to a node that wasn't gossiped to other nodes. For feature parity we should also look to add this to the new peer manager

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-04-29 07:55] marbar3778 commented on #6405
This is a hard requirement for the p2p stack to be released, IMO.

[2021-04-29 08:07] ethanfrey commented on #6403
@tessr exactly. I request to change the ABCI interface for EventAttribute to use strings instead of bytes. That will at least avoid invalid data being being treated as strings.

If you want to go back towards typed events, I think that could be an interesting approach, but definitely a different issue/pr, and should be done as part of the larger event streaming/indexing changes

[2021-04-29 08:42] daeMOn63 opened #6406 "0.33.x - commit does not validates anymore when the validator set contains more than 30 entries"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

0.33.9

**What happened**:

At a certain height of my chain, CLI client queries started to fail with errors like:
[code]

It started to fail when a new validator joined, making the total number of validators equal to 31.

Tracing this, it starts from the commit validation:
- https://github

[2021-04-29 08:53] cmwaters commented on #6406
Thanks for reporting the issue @daeMOn63. We are aware of this and have made changes to master and v0.34 as you will see here:
https://github.com/tendermint/tendermint/blob/20610be98cef42c663169e3aae7f3a65ac5336bc/light/provider/http/http.go#L162
where we iterate through each page and then build the validator set afterwards. This fix doesn't seem to have been backported to v0.33 but I can look int

[2021-04-29 09:06] whiter4v3n commented on #6406
To me, the real question how this procedure to increase the trust from client perspective?

[2021-04-29 11:27] cmwaters commented on #6406
Are you still referring to the pagination of the validator set? The pagination is purely a REST/RPC trait to break down large chunks of data.

If you're referring to the more high level question about trust, the light client only ever trusts the initial header hash/height combination that the operator gives it on start up. It never trusts anything that the nodes it is connected to gives it but ver

[2021-04-29 12:45] thanethomson commented on #6233
Sure!

[2021-04-29 13:48] alexanderbez commented on #6405
Thanks for creating an issue @cmwaters. I can look into this.

[2021-04-29 15:00] alessio commented on #6403
FWIW I too support this proposal :+1:

[2021-04-29 15:21] alexanderbez commented on #6403
Posting here for visibility:

@ethanfrey should we break proto here by changing the types or should we introduce new types, `key_str` and `value_str`, and use those while keeping the existing ones deprecated?

[2021-04-29 16:47] tessr commented on #6192
Closing this because the sister issue in the SDK has been closed.

[2021-04-29 16:47] #6192 closed

[2021-04-29 17:01] tessr commented on #6255
Should we try to get this in for 0.35?

[2021-04-29 17:04] cmwaters commented on #6255
I would love to. I think the only thing looming over doing this now is if we wanted to wait until we got some feedback from the user survey

[2021-04-29 17:04] tessr commented on #6249
This seems like a good idea to me 👍🏼

[2021-04-29 17:26] ethanfrey commented on #6403
Personally, I would break proto (we are pre 1.0) and release this with tendermint 0.35, which will go along with a breaking Cosmos sdk change to match.

But I don't know if there are deeper implications. Like would this make it impossible to x/upgrade from a 0.34 to a 0.35 chain?

I feel it would be good to migrate this now before it gets forgotten again and not make it in 1.0

[2021-04-29 18:13] alexanderbez commented on #6403
I don't think this will require a migration. We already were casting to strings internally.

[2021-04-29 18:26] tessr commented on #6200
@cmwaters I'm assigning this to you, to specify what should go in this endpoint, and then I'll mark it as good first issue (or you can implement it, either way).

[2021-04-29 18:29] tessr commented on #5943
Assigning this to Callum and Josef to follow-up on the issues that were found in the audit :)

[2021-04-29 19:06] tessr commented on #3653
Is this really in the p2p layer, or is it part of the blockchain v2 work?

[2021-04-29 19:22] tychoish commented on #6393
Thanks for this report! I'm a little confused by your setup, please forgive me if these questions are too simple.

I might be reading this wrong, but it seems more like the problem at hand is with the behavior of docker/docker compose/nohup, and less with tendermint itself. This is cool, and I think points to some of the ways tendermint can be better at logging, but I have the following questions:

[2021-04-29 23:48] tessr opened #6410 "Mempool changes for 0.35 [tracking issues]"
The upcoming priority-based mempool work will let applications prioritize certain transactions (e.g., those with a higher fee) in order to help validators choose the right transactions to prioritize/propose when networks are under load. Prior discussion available at https://github.com/tendermint/spec/pull/154.

Priority-based mempool steps:

- [x] ADR written #6368
- [x] spec update written
- [x]

[2021-04-30 09:03] cmwaters opened #6412 "p2p: create migration script to transfer addresses from addressbook to peerstore"
Just jotting this down before I forget.

Should be done in a similar fashion to the key migration script / cli. Should be relatively trivial to read in the JSON file, parse the addresses and persist them to the peer store. I don't think we should delete the address book on completion.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributo

[2021-04-30 10:45] marbar3778 commented on #5883
Moving this to the next release cycle to keep in line with 0.35 be as non-breaking as possible.

[2021-04-30 12:36] alexanderbez commented on #6412
@cmwaters do we absolutely _need_ this? If we don't do this, most peers will just automatically be rediscovered. What we can do is add a hook that exists only in 0.35 such that if it sees an address file exists, it auto-migrates it.

[2021-04-30 20:24] ethanfrey commented on #6403
Thanks Bez

[2021-05-03 09:50] josef-widder commented on #6388
I am putting my notes from a call with @cmwaters earlier today:

- duplicate vote evidence just consists of two votes by the same validator. As a result one cannot create slight variations of the evidence that hash to different values
- light client attack (LCA) evidence, is a richer data structure with `common-height` and a conflicting `LightBlock` which itself is a richer data structure that con

[2021-05-03 16:06] tychoish commented on #6354
I wanted to follow up to this and ask some detailed questions, which we should hash out in the spec, but I think getting a sense of the desired behavior should be for this endpoint. My questions are:

- How big should each chunk be?

- I think making chunk size configurable doesn't seem necessary?

- Is there prior art in RPC layer for pagination/cursors that we should copy/use? It looks like bloc

[2021-05-03 17:35] cmwaters commented on #6354
Here are my very subjective answers

The genesis size for the `cosmoshub-3` is 60mb. Apparently the `cosmoshub-4` is 120mb. It looks like AWS usually has a max payload size of 10mb. So I would estimate somewhere between 1 and 10mb

I tend to agree

If you want to instil a best practice then you will need to apply it to all the other places that we use pagination. My sense is to just copy how we do

[2021-05-03 17:55] tychoish commented on #6354
I actually think the separate approach is a bit easier/clearer to implement because it means we don't have to resend the metadata in each response. But I don't think it matters.

I think that's probably the best way to do it internally. Probably actually it'd be `[]json.RawMessage`, but this might be the main delicate response.

Depends on the protocol/etc, but for things like gRPC or websockets w

[2021-05-03 21:04] tychoish opened #6416 "tracking: improve tooling for build, test, and developer experience"
## Context

Currently there's a lot of disctint build and packaging logic in the Tendermint repository to take care of build, test, and release automation. This code is divided by a collection of Dockerfiles, Makefiles, shell scripts, and small go programs. This is both difficult to maintain but also makes the learning curve for contributing (at any level) to tendermint.

## Objectives

This ticke

[2021-05-04 06:14] puffanddmx commented on #6393
thanks!!

[2021-05-04 06:14] #6393 closed

[2021-05-04 09:04] cmwaters commented on #6354
I don't know if many users would want just the genesis meta data. Also it could be quite large if there are a lot of validators. If you feel like it doesn't add too much overhead in work then I don't mind. You could also have it so that the first chunk is always the meta data (complete) and the following chunks are all the state data

[2021-05-04 15:57] tychoish commented on #2122
Sorry for not linking this better in the moment, but https://github.com/tendermint/tendermint/pull/6418 gets the existing high level benchmarks in to order, and also fixes an obvious problem. I'm going to make a second PR in a few moments to add another benchmark for "adding a duplicate transaction." Preliminary testing is that duplicate transactions have no additional overhead relative to adding

[2021-05-04 16:29] ValarDragon commented on #2122
Awesome! (And nice work on the reap speedup =))

I think the main thing we should later write benchmarks for is time delay for parallel txs being added with underlying check tx's having variable time. (And time until a reap terminates when many check txs are also being added in parallel, since there is a mutex contention IIRC)

[2021-05-04 21:20] #2122 closed

[2021-05-06 14:04] tychoish commented on #6255
It's my sense that the main difference is that we want to:

- generate default configuration files that are appropriate to the mode and don't contain extraneous configuration options.
- validate the configuration conditionally based on the mode value.

I'm not sure, on an internal basis, that we to have many re-compositions of the same config sub sections might actually be more difficult to mainta

[2021-05-06 15:20] tychoish opened #6424 "rpc: remove global state in variables."
There are a couple of places in the RPC package that depend on global variables which ought to be removed and replaced with more explicitly managed states.

- the [node](https://github.com/tendermint/tendermint/blob/master/rpc/client/main_test.go#L13)in the client test package should be replaced in individual tests with the appropriate fixtures.
- in the core service package [env](https://github.c

[2021-05-06 15:27] alexanderbez commented on #6424
Yes, please! This the main (only?) reason why we have to have a hacky lock in the in-process Tendermint test network used in the SDK.

[2021-05-06 15:58] alexanderbez commented on #6032
I'm not sure it's entirely possible to remove the WAL @faddat, but what we _should_ do is rely on an appropriate DB for proper WAL functionality, instead of rolling our own.

The reason I think we can't remove it is because it's so tightly integrated into the safety and recovery mechanism of the consensus reactor.

[2021-05-06 16:32] i-norden commented on #6032
In ADR-040 we plan to support both BadgerDB and RocksDB, perhaps we could converge to supporting both of these instead of just Badger? The output of the work here will be the starting point to support ADR-040 with those two underlying DBs, so it could save some back-tracking.

[2021-05-07 01:39] odeke-em opened #6427 "libs/os: CopyFile when given a directory as the source can be made to truncate destination file"
While auditing the code in here I noticed this pattern
https://github.com/tendermint/tendermint/blob/0b0914b3df50b06e6ca59fc76ccedb71d0bce8c1/libs/os/os.go#L52-L73

### Problem
If we look closely, we firstly stat the origin file https://github.com/tendermint/tendermint/blob/0b0914b3df50b06e6ca59fc76ccedb71d0bce8c1/libs/os/os.go#L53-L56

and then invoke os.Open on it ONLY if it exists, invoking os.

[2021-05-07 03:49] cuonglm commented on #6427
There's one dangerous usage of this:

https://github.com/tendermint/tendermint/blob/0b0914b3df50b06e6ca59fc76ccedb71d0bce8c1/consensus/state.go#L339

If the WAL file setting is wrongly set, then the recovering process will silently failed.

[2021-05-07 03:51] odeke-em commented on #6427
Indeed! Exactly that's what I referenced as well and referenced in my repro above. An easy way to self pwn and clear out the WAL silently.

[2021-05-07 09:22] cmwaters opened #6429 "mempool: spurious panic in the recheck callback"
## Summary

This occurred during an e2e test I was running where a full node halted due to this [panic](https://github.com/tendermint/tendermint/blob/0b0914b3df50b06e6ca59fc76ccedb71d0bce8c1/mempool/clist_mempool.go#L431)

[code]

In addition I have appended the manifest of the node:

[code]

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate con

[2021-05-07 12:46] #6427 closed

[2021-05-07 13:23] josef-widder opened #6430 "Voting power check in evidence"
Surfaced from [Informal Systems](https://informal.systems/) Evidence end-to-end audit of https://github.com/tendermint/tendermint/commit/5a39f72aa8288696d7284e56e3f630ab721a9f9a.

Evidence is [dismissed](https://github.com/tendermint/tendermint/blob/5a39f72aa8288696d7284e56e3f630ab721a9f9a/evidence/verify.go#L262) if the voting powers do not match. The reason for this is not clear. In principle, a

[2021-05-07 13:26] josef-widder opened #6431 "Trust level boundaries"
Surfaced from [Informal Systems](https://informal.systems/) Evidence end-to-end audit of https://github.com/tendermint/tendermint/commit/5a39f72aa8288696d7284e56e3f630ab721a9f9a.

[Validating the Trust level](https://github.com/tendermint/tendermint/blob/5a39f72aa8288696d7284e56e3f630ab721a9f9a/light/verifier.go#L172) checks for containment in the interval [1/3, 1]. [Later](https://github.com/tend

[2021-05-07 13:29] josef-widder opened #6432 "Coding for maintenance"
Surfaced from [Informal Systems](https://informal.systems/) Evidence end-to-end audit of https://github.com/tendermint/tendermint/commit/5a39f72aa8288696d7284e56e3f630ab721a9f9a.

Here we list some implementation details that look correct right now, but contain the risk of breaking properties in maintenance due to programming style or lack in documentation.

1. right now it is safe to [check](http

[2021-05-07 13:31] josef-widder opened #6433 "Code/spec alignment in Verify skipping"
Surfaced from [Informal Systems](https://informal.systems/) Evidence end-to-end audit of https://github.com/tendermint/tendermint/commit/5a39f72aa8288696d7284e56e3f630ab721a9f9a.

[verifySkipping](https://github.com/tendermint/tendermint/blob/5a39f72aa8288696d7284e56e3f630ab721a9f9a/light/client.go#L715) encodes (within the other logic) the [schedule](https://github.com/tendermint/spec/blob/master

[2021-05-07 13:32] josef-widder opened #6434 "Light client evidence data invariants"
Surfaced from [Informal Systems](https://informal.systems/) Evidence end-to-end audit of https://github.com/tendermint/tendermint/commit/5a39f72aa8288696d7284e56e3f630ab721a9f9a.

- [The height of light client evidence](https://github.com/tendermint/tendermint/blob/5a39f72aa8288696d7284e56e3f630ab721a9f9a/types/evidence.go#L311)
looks different from the height of double signing evidence. The inten

[2021-05-07 13:39] josef-widder opened #7942 "Light client go implementation details"
Surfaced from [Informal Systems](https://informal.systems/) Evidence end-to-end audit of https://github.com/tendermint/tendermint/commit/5a39f72aa8288696d7284e56e3f630ab721a9f9a.

We found the following features that are not present in the specification

- [sequential mode](https://github.com/tendermint/tendermint/blob/5a39f72aa8288696d7284e56e3f630ab721a9f9a/light/client.go#L109)

- [pruning](htt

[2021-05-07 15:55] alexanderbez commented on #6429
Can you post the full log? i.e. why it paniced?

See https://github.com/tendermint/tendermint/issues/5439 and the relevant (attempted) fix https://github.com/tendermint/tendermint/pull/6124.

So if this is a `panic: Unexpected tx response from proxy during recheck`, then my patch clearly didn't fix this :(

[2021-05-07 15:57] alexanderbez commented on #6429
Looks like it is the same error based on the stacktrace :-/

[2021-05-07 15:59] alexanderbez commented on #6429
But this is coming from a different line in the socket client. Perhaps on line 222 we need to call `InvokeCallback` (my patch) instead?

[2021-05-07 16:39] alexanderbez commented on #6429
Nor am I 😆. Are you able to reproduce this locally? If so, can you take a stab at trying `InvokeCallback` instead?

[2021-05-07 16:48] cmwaters commented on #6429
Yeah I will see if I can reproduce it on Monday

[2021-05-07 18:35] ebuchman commented on #6066
I just want to highlight that it seems the three components of ABCI++ (PrepareProposal, ProcessProposal, and VoteExtensions) could and maybe should all be implemented independently, as they each unblock other kinds of work and I'm not sure if there's a good reason why they must all come together.

I would think that VoteExtensions is the most straight forward and should just proceed, as it will th

[2021-05-07 19:02] ValarDragon commented on #6066
I think VoteExtensions is the least straightforward personally, since it alters many core Tendermint data structures. (Also its orthogonal to aggregating signatures, the state machine wouldn't be the one doing that aggregation!) Agreed that it would allow for validator-based price oracles, if your view is that it would be the most immediate demand happy to switch focus to that.

I was currently wo

[2021-05-07 19:07] ebuchman commented on #6066
Right isn't Vote Extensions the main breaking changes in Tendermint data structures? Need to review the details again as to why it's less straight forward but seemed it was more a data structure issue vs more complex interactions with the app.

I don't have strong preference on the order just wanted to clarify that we could do the pieces relatively independently and get some clarity on what the cu

[2021-05-07 19:14] ebuchman commented on #6066
Ah yes of course whether the full block is executed is up to the app during ProcessProposal.

Sounds good - sounds like we should pursue ProcessProposal and VoteExtensions and then PrepareProposal. Thanks

[2021-05-07 19:29] JayT106 commented on #5959
@melekes I would like to tackle this ticket. Is anyone doing this?

[2021-05-08 13:47] #1792 closed

[2021-05-10 06:25] banishee opened #6439 "[pubsub] there is too highly memory usage when creating many events subscriptions"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):
before https://github.com/tendermint/tendermint/commit/a91680efee3653e3de620f24eb8ddca1c95ce8f9

**What happened**:
When I use a bot to make lots of events subscriptions to a node, I noticed that there is a huge increasing memory usage.
Then I checked the code, and I found there is an unrea

[2021-05-10 08:06] cmwaters commented on #5959
I'm pretty sure no one is doing this atm so you can definitely try tackle this. In regards to the light client, we used model based tests (provided by informal) which I believe should sufficiently cover fuzzy based testing (unless you feel there are areas that we are missing). As for the others, I'm less sure about. Perhaps it would be good, if you could give a rough plan about what parts you aim

[2021-05-10 08:25] cmwaters opened #6441 "test: TestRouter_Channel_Error flakiness"
## Problem Definition

Run:
[code]
and you will get:
[code]

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-05-10 08:59] tac0turtle opened #7926 "p2p: query and tx submission"
# Protocol Change Proposal

## Summary

With the acceptance of [rfc-05](https://github.com/tendermint/spec/blob/master/rfc/005-reverse-sync.md) the possibility of the light client using the p2p layer is a reality. The downside of this is that the light client can only be used for verification and not queries or transaction submission.

## Problem Definition

The light client is known as a lightwei

[2021-05-10 09:13] marbar3778 commented on #6439
Thank you for opening this issue. We are currently working on a refactor of the event system. We will be adding event sinks (https://github.com/tendermint/tendermint/blob/master/docs/architecture/adr-065-custom-event-indexing.md) with on being postgres. This allows you to query a postgres database instead of the tendermint node. Does this solve the problem for you?

[2021-05-10 09:41] cuonglm opened #6442 "crypto/merkle: innherHash use more memory than necessary"
## Summary

Speed up `innerHash`

## Problem Definition

Benchmarking on `HashAlternatives` shows a bottle neck at `innerHash`:

[code]

The `append(innerPrefix, append(left, right...)...)` operation is clearly the culprit, since when the runtime must check for slice capacity before appending to it.

## Proposal

We can pre-allocate the data slice, which have enough capacity to hold all the data.

[2021-05-10 10:20] banishee commented on #6439
I mean, if I change the value of **math.MaxInt16** into **16**, does it have an influence on node?

[2021-05-10 12:14] marbar3778 commented on #6439
The file you mention query.peg.go is auto generated. Generally we prefer to leave generated code untouched.

@cmwaters @alexanderbez @tychoish what do you think, should we make an exception here?

[2021-05-10 12:49] alexanderbez commented on #6439
Using other event sinks won't fix this problem. This problem resides with `QueryParser#Init` and `QueryParser` is used for parsing queries to be used again the current `KV` event store. Given that this store will continue to exist even with the new event system sink(s), the `QueryParser` will remain to support the legacy `KV` sink.

So unless the author wants to run their own postgres instance, th

[2021-05-11 14:22] #6424 closed

[2021-05-11 16:11] cuonglm opened #6450 "libs/clist: unnecessary usage of sync.WaitGroup"
## Summary

We can avoid using `sync.WaitGroup` and use channel instead.

## Problem Definition

Looking through `libs/clist` code, the documentation state why we use `sync.WaitGroup`:

https://github.com/tendermint/tendermint/blob/fdd506a12666e8b86b1cadda6151a1945bf07c3e/libs/clist/clist.go#L33

Though, that same job can be archived by using corresponding channels. That said:

 - `wg.Wait()` can

[2021-05-11 16:25] randomshinichi commented on #6354
The [cosmos registrar](https://github.com/cosmos/cosmos-registrar) using tendermint 0.34.9 is experiencing this issue too when trying to register `cosmoshub-4`. Hopefully this can be solved soon.

Apparently the problem is using `ioutil.ReadAll()` tendermint/tendermint@v0.34.9/rpc/jsonrpc/client/http_json_client.go:220, which is [known not to handle large buffers well](https://haisum.github.io/201

[2021-05-11 18:33] alexanderbez commented on #6450
Thanks for bringing this up @cuonglm. I'm curious as to why made you bring this up? Is the current implementation really that poor in performance compared to your changeset? I see there's a bit of improvement in the memory allocation, but I'm wonder if those changes are really worth it?

I just do not have enough context here to confidently give an ACK or not on the PR. Specifically, that code is

[2021-05-12 01:15] tessr commented on #6233
[Postponed to May 27.]

[2021-05-12 01:34] cuonglm commented on #6450
@alexanderbez My main point is making the code simpler, not a boost in performance.

The usage of sync.WaitGroup is duplicated with what the wait channel does, so it's really confused.

@tychoish Yes, and I think we should add a better benchmark, as the current one is a bit of noisy.

[2021-05-12 09:02] #6442 closed

[2021-05-12 10:03] cuonglm opened #6452 "libs/clist: fix flaky tests"
## Summary

Make two`libs/clist` tests that depend on `runtime.SetFinalizer` work:

 - https://github.com/tendermint/tendermint/blob/c320eb14079e0091ebef56458ceee4ead9a75b61/libs/clist/clist_test.go#L71
 -https://github.com/tendermint/tendermint/blob/c320eb14079e0091ebef56458ceee4ead9a75b61/libs/clist/clist_test.go#L120

## Problem Definition

The reason those tests are disabled because they depen

[2021-05-12 13:56] alexanderbez commented on #6450
I do not have confidence in approving or disapproving this PR. Being that the current code works as-is and the added memory performance improvement isn't that drastic, I'd rather not touch it.

[2021-05-13 01:42] KimuraYu45z opened #6464 "Can Tendermint work on ARM architecture?"
Can Tendermint work on ARM architecture?
I got this error on ARM (I built the program for ARM. I confirmed that I didn't run x64 binary in ARM machine.)

**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

[code]

**ABCI app** (name for built-in, URL for self-written if it's publicly available):

**Environment**:
- **OS** (e.g. from /etc/os

[2021-05-13 09:53] marbar3778 commented on #6464
Hey, I actually have had the same issue with the sdk. Tendermint on its own is fine, but when I run the sdk this issues arises. This issue would be better suited for the sdk.

[2021-05-14 07:48] marbar3778 commented on #6464
In testing Tendermints master and v0.34.x branch I was not able to reproduce this. Lets transfer the issue to the sdk and we can debug there.

[2021-05-14 07:48] #6464 closed

[2021-05-14 08:38] melekes commented on #6439
The temporary solution is add a caching layer -> https://github.com/tendermint/tendermint/issues/1770. I don't know why a single `Query` object takes so much memory. I believe it's best to ask https://github.com/pointlander by opening an issue in https://github.com/pointlander/peg.

[2021-05-15 04:56] cuonglm opened #6471 "mempool: use map[uint16]struct{} with mutex for mempoolTx senders"
## Summary

The senders map is only used for checking duplicated sender, so we should use a regular map with mutex, to reduce overhead from sync.Map, both speed and allocations.

## Problem Definition

Why profiling `mempool` benchmarks, I notice:

[code]

It turns out `memTx.senders.Store(peerID, true)` has second highest runtime.

It's the overhead of `sync.Map`.

## Proposal

Use `map[uint16]st

[2021-05-17 12:22] alexanderbez commented on #6471
Already addressed this in v1 implementation.  We can close this issue 👍

[2021-05-17 12:27] #6471 closed

[2021-05-17 12:29] cmwaters commented on #6432
I looked over this code again and it is correct. If the `strings.Compare()` function returns a 0 or 1 it is seen as invalid hence using `>= 0` makes sense.

[2021-05-19 07:47] odeke-em opened #6479 "p2p: remove redundant error returns in (NodeKey).SaveAs"
This code https://github.com/tendermint/tendermint/blob/a9e231b54d9a4ac28ef69f590b9a124108be3169/p2p/key.go#L36-L40 is quite redundant

It can simply be made

[code]

thus the entire function looking like this

[code]

[2021-05-19 09:15] marbar3778 commented on #6028
@clockworkgr do you want the BlockId in order to get the header hash, or do you have a need for the parts as well?

[2021-05-19 09:29] clockworkgr commented on #6028
In the specific case I'm using it I make an extra request by height to get the hash yes.

Don't think I have a need for the parts at this time, however I'd still consider it best practice for the RPC call and the WS event to contain the same information.

[2021-05-19 11:06] anilCSE commented on #5978
No, it didn't work. Cc @akhilkumarpilli

[2021-05-20 08:55] carameleon opened #6481 "CLOSE_WAIT issue"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

It was happened continuously on
- gaia and all cosmos ecosystem chains I guess

**ABCI app** (name for built-in, URL for self-written if it's publicly available):

**Environment**:
- **OS** (e.g. from /etc/os-release):

- **Install tools**:
- **Others**:

**What happened**:

CLOSE_WAIT mea

[2021-05-24 13:48] #6354 closed

[2021-05-25 09:36] #6452 closed

[2021-05-25 12:48] #6433 closed

[2021-05-25 14:53] #6430 closed

[2021-05-25 14:53] #6432 closed

[2021-05-26 01:38] JayT106 commented on #5959
Thanks for the reply, @cmwaters. I will play with the RPC part mentioned above first. And then to see any missing part I can see.

[2021-05-26 09:39] RiccardoM opened #6488 "`/status` endpoint returns empty `version`"
**Tendermint version**:
Tetsted with `v0.34.4`, `v0.34.5`, `v0.34.6`, `v0.34.7`, `v0.34.8`, `v0.34.9`, `v0.34.10`

**ABCI app**:
Tendermint Docker file - No app

**Environment**:
Tendermint Docker

**What happened**:
When calling the `/status` endpoint the returned `node_info.version` is always empty if Tendermint version if `>= 0.34.4`

**What you expected to happen**:
The `node_info.version` sho

[2021-05-26 10:13] marbar3778 commented on #6488
You need to set this in you app via ldflags. Docs: https://github.com/tendermint/tendermint/blob/master/UPGRADING.md#version

[2021-05-26 10:15] RiccardoM commented on #6488
@marbar3778 I know, but is there a way to set this while running a Tendermint node using the Docker files? I'm doing so because I'm testing CosmJS and it used the Tendermint Docker images to run a local node and get the version from the `/status` endpoint

[2021-05-26 10:27] marbar3778 commented on #6488
Hmm, it should be easy to get it. Will play with it

[2021-05-26 10:40] marbar3778 commented on #2546
The current design has diverged from the current ADR. I will open a PR that mentions this.

[2021-05-26 10:48] marbar3778 commented on #5460
I believe this is completed. Outside p2p messages in blockchain, state sync and mempool we handle everything in native types. Do we want to migrate the other messages as well?

[2021-05-26 11:12] webmaster128 commented on #6488
On the CosmJS side we'll adapt tests to not rely on the value of this field. As the version became completely unreliable with 0.34 we gradually migrated aways from it anyways. No offense though – it's just a matter of expectation management. This is no blocker for us.

[2021-05-26 12:52] orkunkl commented on #3055
I came across this problem today when setting up a testnet. The default expectation is the IP of a private validator not exposed when ID is in `private_peers`. This could be fatal

[2021-05-26 13:20] cmwaters opened #6491 "statesync: use p2p state provider as default"
## Summary

The work in the reverse sync PR allows statesync to have p2p based `light.Provider`s. This essentially allows the state provider to be moved over to the p2p layer, thus not requiring trusted RPC endpoints. Unless people have any strong objections we should aim to make this change in the next release.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied

[2021-05-26 13:21] marbar3778 commented on #6488
Sorry about that. It's odd this started happening. Please feel free to ping us in chat or open an issue when things become unreliable, this shouldn't happen.

[2021-05-26 13:43] cmwaters commented on #3055
Looking into the code, I think this is something that would be quite easy to change and in a non-breaking way.

I feel this problem highlights the dichotomy in which Tedermint's RPC serves as both an internal input for the node operators i.e. `dump_consensus_state` for monitoring the health and status of their node and debugging the node when something goes awry but at the same time serves for ext

[2021-05-26 15:12] webmaster128 commented on #6488
It all began when Tendermint decided to move the version from the codebase to some place that is meta to the code (as you linked above). I understand the pain that comes with encoding the version into the source, but leaving it up to the caller to set a library's version seems to be unmaintainable.

A quick overview into our jurney:
1. Initially Tendermint 0.34 [provided versions starting with "0.

[2021-05-26 15:24] marbar3778 commented on #6488
seems like reverting that change would make the life of users better. Will see what the team thinks.

[2021-05-26 15:26] webmaster128 commented on #6488
I think so, yes. It seems to be too easy to forget to set this version for the blockchains and nobody notices until CosmJS client come along and try to interprete Tendermint version value.

[2021-05-27 07:43] #6028 closed

[2021-05-27 10:16] marbar3778 opened #6495 "state: rename Version.Software to TMVersion"
## Summary

Software here could describe a few things and leaves it up to the user to dig through docs to see if its the app software version, tendermint software version or other.

## Problem Definition

Software as a version name is very general

## Proposal

Change software to TMVersion or tendermintVersion to describe what the version represents.

____

#### For Admin Use

- [x] Not duplicate

[2021-05-27 12:12] kstoykov commented on #3778
"seed mode = false" actually made my seed nodes to start working.

Isn't it supposed to be be exactly the opposite?

[2021-05-27 12:31] cmwaters commented on #3778
Yeah it should be. Are you using version 0.34?

[2021-05-27 12:56] kstoykov commented on #3778
Yes, according to go.sum "github.com/tendermint/tendermint" is 0.34+

[2021-05-27 13:39] alexanderbez opened #6497 "Refactor TxInfo"
## Summary

ref: https://github.com/tendermint/tendermint/pull/6468#discussion_r640071024

- Remove `Context` from `TxInfo` as it's a code-smell.
- Update the `CheckTx` method on the `Mempool` interface to accept a `context.Context` argument instead.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigne

[2021-05-27 14:45] marbar3778 commented on #6303
Going to close this, @iramiller would you like to open an issue for kafka?

[2021-05-27 14:45] #6303 closed

[2021-05-27 14:48] marbar3778 commented on #1161
Its amazing to see old issues closed 😢

[2021-05-27 14:48] #1161 closed

[2021-05-27 16:02] tessr commented on #6233
Posting the conclusions from today's dev call:

- Leave implementations as-is (continue to trim zeroes before sending them back over RPC)
- Update the spec: @marbar3778 will update the RPC spec to reflect the state of the implementation
- Post-0.35, we'll make a decision about gRPC. After that, we can revisit whether we want to fix this at a block-level or at an RPC level (and decide if we want to

[2021-05-27 23:39] JayT106 commented on #5407
@marbar3778 `net.Resolver` requires the port info in the URL(or address). Under this case, What do you think to add default rpc server port, i.e. `26657` after the URL?

[2021-05-28 04:37] odeke-em opened #6501 "p2p/trust: (*MetricStore).loadFromDB should use len(bytes)==0 and not bytes==nil"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):
72ee5aab26e1d89819d1c06abff7c92593d7ab4c

**What happened**:
Notice this code https://github.com/tendermint/tendermint/blob/711a7181625377085055079aba3940c26587c029/p2p/trust/store.go#L160-L162

if at all the DB contains []byte("") it'll try to unmarshal and then panic, but really it could

[2021-05-28 05:51] odeke-em opened #6502 "libs/log: (tmfmtLogger).Log unnecessarily allocates a string using fmt.Sprintf instead of using fmt.Fprintf to directly write to"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):
72ee5aab26e1d89819d1c06abff7c92593d7ab4c

**What happened**:
Noticed while auditing that logger consumes a whole lot of memory
<img width="1252" alt="Screen Shot 2021-05-28 at 8 06 41 AM" src="https://user-images.githubusercontent.com/4898263/119936145-59a3c400-bf91-11eb-971c-56ff39f85095.p

[2021-05-28 07:40] marbar3778 commented on #5407
It's hard to say what a default could be. I have ended up using :443 if no port is provided, if that doesnt work and 26657 doesn't I try to do a port scan. Im not sure the best path forward with this

[2021-05-28 08:02] marbar3778 commented on #5721
Putting this here as a note, an example of something meant for testing being used in prod https://github.com/cosmos/cosmos-sdk/pull/9408

[2021-05-28 08:11] marbar3778 commented on #6233
In talking with thane after the call about this, I had more questions, the simplest approach would be to recreate the block and header type along with other types that contain timestamps to use a string, and we handle the timestamp ourselves.

The next approach is what is being worked on now, where the light client hooks up into the p2p layer, which would provide the tm-rs team with the correct en

[2021-05-28 08:47] marbar3778 commented on #3428
linking https://github.com/tendermint/tendermint/issues/6502 as an example of the current longer using too much memory

[2021-05-28 14:15] alexanderbez commented on #3428
I support removing Tendermint's logger all together while keeping the interface. I would opt to have a wrapper around zerolog that implements this interface.

[2021-05-28 14:22] #6488 closed

[2021-05-28 17:27] #6502 closed

[2021-05-30 09:33] odeke-em commented on #3428
So with some custom logging, my team and I, 1.2 years ago produced these benchmarks https://gist.github.com/odeke-em/3aba9267803d7813ab99fa743d5b8b8d#file-results-md rs/zerolog is mos def what we want to go for /cc @cuonglm @kirbyquerby

[2021-05-31 05:23] cuonglm opened #6508 "p2p/pex: optimize addrbook.hash"
## Summary

Make addrbook.hash faster

## Problem Definition

Everytime `addrbook.hash` is called, we create new hasher and hash the data.

https://github.com/tendermint/tendermint/blob/1e0efb675899a9217d289db02c3f226b54e036c4/p2p/pex/addrbook.go#L940

## Proposal

We can pre-create the hasher and use it to hash the data.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate label

[2021-05-31 05:26] cuonglm commented on #6508
cc @odeke-em, discover while looking for functions for fuzzing.

[2021-05-31 08:49] cmwaters opened #6512 "docs: update docs to accurately reflect changes in 0.35"
## Summary

The current [docs](https://docs.tendermint.com/master/) has a few sections that are outdated in light of the changes made for 0.35. Specifically, this is information regarding to how the P2P system works and the mempool. There may even be a few other outdated sections with respect to the light client / RPC / statesync etc...

I would suggest, before cutting 0.35, that we do a pass over

[2021-05-31 12:06] marbar3778 commented on #2481
In working with a couple teams and running nodes on various networks, it is best to leave this documentation up to the application. Tendermint can run with 2-4 gb of ram, but an application may require 8gb minimum. Saying Tendermint requires x could confuse people.

We can only document how to turn off and on various features.

Closing this issue for the above reasons.

[2021-05-31 12:06] #2481 closed

[2021-05-31 12:45] cmwaters commented on #6389
Just ran some tests now. This seems to work fine in a local setup (and also in the e2e tests as they are not failing for that reason). I'm trying to dig a little deeper

[2021-05-31 13:05] dualsystems commented on #1136
Hello,
what reason migrate that option from tendermint to cosmos-sdk ?
I think cosmos-sdk is for hi-level application develop.

[2021-05-31 13:09] marbar3778 commented on #1136
Hey,

The reason this is moved to the application is that the application controls who the validator set is and which keys are associated to these validators. Key rotation in Tendermint would require changes in the protocol, by moving it to the app, it can be done with no changes to Tendermint.

Any application that would like to implement key rotation can already, there is no needed changes on Te

[2021-05-31 13:39] cuonglm opened #6516 "blockchain/v0: possible data race/panic"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

1e0efb675899a9217d289db02c3f226b54e036c4

**What happened**:

Data race in Github Action with following command:

[code]

https://github.com/tendermint/tendermint/pull/6509/checks?check_run_id=2708736360

**What you expected to happen**:

Test passed.

**Have you tried the latest version**

[2021-05-31 13:39] cuonglm commented on #6516
cc @odeke-em

[2021-05-31 14:18] cmwaters commented on #6516
I can confirm that I've seen this race as well

[2021-05-31 16:22] #5836 closed

[2021-06-01 02:01] JayT106 opened #6519 "cli for indexing the missing events with PSQL server"
## Summary

To implement the feature for handling the missing events if the PSQL server is disconnecting.

## Problem Definition

In ADR065, we implemented an eventsink with PSQL backend support. But it didn't handle the situation the node is indexing events but the PSQL server isn't under the running status. So, the events will be missing in the PSQL DB.

## Proposal

Add a CLI that can replay bl

[2021-06-01 06:15] marbar3778 commented on #6519
Getting this in the next release would be a jump in better ux for node operators.

Currently, we store events in two places, one in the event store and another in the ABCIResult store. We should take advantage of the abci.Result store in order to get the needed events. Replaying blocks may require application changes, this way we avoid that.

[2021-06-01 09:12] cmwaters opened #6520 "RPC: split into internal and external endpoints"
## Summary

The RPC currently serves a dual purpose. It both provides a set of endpoints that external clients can use to query the state of the blockchain and to submit transactions and yet it also provides a set of endpoints to help the operator to query the health and status of the node that they are running. More effort should be made to draw this distinction

## Problem Definition

A good exa

[2021-06-01 09:16] marbar3778 commented on #6520
I like your proposal, but this is what tools like nginx are for. I would prefer recommending using tools already known in the devops ecosystem rather than creating it internally

[2021-06-01 09:24] cmwaters commented on #6520
Ok. I might have figured that this functionality was possible I'm just rather naive when it comes to the operator side of software. I think more than just building something internally, I'm curious as to whether people share my view on the RPC being dual purpose and whether we should be making some more cosmetic changes to highlight this distinction

[2021-06-01 09:41] cuonglm opened #6521 "p2p/conn: channel id is not checked for overflow"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

4e06dfef8c60680850613e5f337de49f71dab4f0

**What happened**:

This test should run successfully, but it's failed. The channel id `1025` must be rejected.

[code]

**What you expected to happen**:

Test passed.

**Have you tried the latest version**:

yes

**How to reproduce it** (as minima

[2021-06-01 12:28] alexanderbez commented on #6520
I like the idea. As @marbar3778 pointed out, this can already be solved externally and probably suggests that we shouldn't even bother fiddling with this complexity in the RPC layer. So you can either really do:

1. Use reverse proxies, i.e. nginx, to do this easily.
2. Require Tendermint to use OAuth or some other form of authentication for specific routes.

Option (1) requires no effort on our p

[2021-06-01 12:33] alexanderbez commented on #6519
I don't think we need a CLI command for this. I believe in the ADR I stated that we could just have a `resync?start_height=_&end_height=_` RPC endpoint.

[2021-06-01 14:13] JayT106 commented on #6519
Ah, I see. Thanks.

[2021-06-01 15:00] alexanderbez opened #6523 "mempool: disconnect from faulty peers"
## Summary

We should consider explicitly disconnecting, via a peer update, from peers that consistently send us transactions that fail `CheckTx`. We may have to type check against the errors for added granularity, i.e. `ErrTxTooLarge`. And we should also have a threshold per peer, i.e. not disconnect at first sight of an error.

ref: https://github.com/tendermint/tendermint/pull/6468#discussion_r

[2021-06-01 15:31] JayT106 commented on #4371
I guess this issue can be closed due to the Transaction Indexing specs changes in v0.34.0?

[2021-06-01 15:33] alexanderbez commented on #6519
@JayT106 would this be something you'd like to work on?

[2021-06-01 16:38] #6508 closed

[2021-06-01 17:08] cuonglm commented on #6516
@alexanderbez @cmwaters I realize the same problem happens with `requestRoutine` and `processBlockchainCh`. If the approach in #6518 were approved, we can do the same trick for this.

[2021-06-01 17:49] JayT106 commented on #6519
@alexanderbez, For sure, correctly just looking at some `jank` issues. I can do this if we want to make it in the next release.

[2021-06-01 18:16] JayT106 commented on #3483
any further discussion on this issue?

[2021-06-01 21:51] marbar3778 commented on #1760
Lets use the default coloring of the logger, there is no need to spend time adding more features if we already have removing the custom logger in our sights.

[2021-06-02 05:51] marbar3778 commented on #3483
Before spending more time on the tcp/unix socket part of abci, it would be good to understand from the users who use tendermint in an out of process manner. There is an open discussion on either dropping grpc or tcp/unix sockets. (https://github.com/tendermint/tendermint/discussions/5855)

[2021-06-02 10:16] cuonglm opened #6527 "p2p/conn: recvRoutine can reuse the recving slice"
## Summary

Reducing recvRoutine memory allocation by reusing the recving slice.

## Problem Definition

recvRoutine call channel.recvPacketMsg:

https://github.com/tendermint/tendermint/blob/915d9de91dcbb2a3d8757e97f6e5f2c59a141b35/p2p/conn/connection.go#L636

which will return the received message if EOF:

https://github.com/tendermint/tendermint/blob/915d9de91dcbb2a3d8757e97f6e5f2c59a141b35/p2p

[2021-06-02 10:18] cuonglm commented on #6527
cc @odeke-em

[2021-06-02 10:53] #6521 closed

[2021-06-02 12:07] alexanderbez commented on #1760
zerolog already adds color FYI (for non-JSON)

[2021-06-02 13:53] #6497 closed

[2021-06-03 04:07] antho1404 commented on #4371
I didn't follow the development closely, but I guess the problem would still occur if the application decides to change from not indexing to indexing. All the previous transactions would not be in the index.

Anyway, feel free to close it if this is something acceptable.

[2021-06-03 09:59] cmwaters commented on #6389
Ok so I hunted down and worked out the problem with the first case. Basically the websocket was failing to connect (and the error message wasn't that helpful). I eventually worked out that this is because we were setting the provider URL to `http://34.91.93.201:26657/` instead of `http://34.91.93.201:26657`.  The extra `/` meant when connecting to the websocket we were trying to connect to `http:/

[2021-06-03 14:26] JayT106 commented on #4371
@antho1404 Ah, okay. I am working on a similar issue I think can also fix this case.

[2021-06-04 11:00] cmwaters commented on #6389
An update on the second problem (which seems a bit bigger): I have a full node locally running on v0.34 of tendermint. I run a light client on 0.34 and there doesn't seem to be any problem:
[code]

I then run a light client on master and I get the following header:
[code]

The keen eye will observe that `PartSetHeader` of the `BlockID` in this header is null or "0:000000000000" which makes me thin

[2021-06-04 11:03] cmwaters commented on #6389
As a follow up: If I curl the full node, this is what I get:
[code]
which seems to correct to me and seems to indicate that the RPC endpoint is fine but the way with which we are parsing it is not

[2021-06-04 11:33] cmwaters commented on #6389
Right, I found the problem. In https://github.com/tendermint/tendermint/pull/5523 we renamed json `parts` to `part_set_header` as you can see in these two rpc calls:
master:
[code]
v0.34
[code]
This means the light client is unable to parse the `PartSetHeader` and leaves it empty thus we get a different hash i.e. breaking change.

@marbar3778 is going to revert the PR so it's not a breaking change

[2021-06-04 12:33] marbar3778 commented on #6389
@greg-szabo, heads up we will be reverting the change you asked for. Parts to partsheader

[2021-06-04 12:43] fedekunze opened #6539 "modular transaction hashing"
## Context

As an Ethermint user who submits a transaction via JSON-RPC, the transaction hash that I expect to receive should match the one as if I sent the transaction on Ethereum. Transaction hashing on Tendermint relies on  `sha256.Sum`, while Ethereum transactions use an RLP hash of the data they contain (see [here](https://github.com/ethereum/go-ethereum/blob/92b8f28df3255c6cef9605063850d77b4

[2021-06-04 12:53] cmwaters commented on #6539
Are you proposing that just the tx's have a custom hashing function or other hashes as well? Where do you imagine the hashing function gets defined?

[2021-06-04 12:58] marbar3778 commented on #6539
This has been brought up in a few places, some conversation has happened here https://github.com/tendermint/tendermint/issues/2186.

Registering the hash function can be done when on the node, it could be a simple api, super limiting in what it does. By default, we use what is there now and the sdk can expose a function to register different hashing functions.

[2021-06-04 15:08] marbar3778 commented on #1760
we are migrating to zerolog, we can close this

[2021-06-04 15:08] #1760 closed

[2021-06-07 07:47] marbar3778 commented on #5912
This is mainly completed, The last step would be an audit of what interfaces we include in logging, and ideally removing any of them.

[2021-06-07 11:08] fedekunze commented on #6539
@marbar3778 if you could leave a list of actionable items I can implement this issue

[2021-06-07 11:18] cmwaters commented on #6539
We are kind of in the process of meddling with the Node constructor / API's so it's not as clear how this could be implemented. If you're just going with the Tx Hashes you would need to add the hasher to the node constructor and then pass that to the mempool constructor for it to use - but I would hold out on that until we get more clarity about how we want the node struct to look/behave

I don't

[2021-06-07 11:21] marbar3778 commented on #6539
We need buy in from the team, this is something that a few people have asked for, and I'm a fan of.

[2021-06-07 12:04] fedekunze commented on #6539
ccing: @tessr

[2021-06-07 12:32] marbar3778 commented on #3428
closed via #6534

[2021-06-07 12:32] #3428 closed

[2021-06-07 18:28] tychoish opened #6548 "p2p: ensure NodeID and NetAddress remain exported/public"
After #6547, or similar changes, which would move the p2p package into an `internal` package, there are a few types/functions which need to remain exported for use automating some very common operational tasks. These are, mostly [NetAddress](https://github.com/tendermint/tendermint/blob/master/p2p/netaddress.go#L22-L28) and its dependent type [NodeID](https://github.com/tendermint/tendermint/blob/

[2021-06-07 20:38] tessr commented on #6539
Anything that expands Tendermint's non-ABCI surface area needs careful justification, especially at this phase of the release cycle. Can you start by writing a proposal ADR that examines the tradeoffs and explains the benefits?

[2021-06-08 08:23] marbar3778 commented on #6539
@fedekunze lets pair on the ADR, this is something we should support if we want Tendermint to be competitive. Other frameworks already support this (https://substrate.dev/docs/en/knowledgebase/advanced/cryptography#hashing-algorithms)

[2021-06-08 08:50] marbar3778 commented on #2484
@alexanderbez this closed with mempool v1?

[2021-06-08 08:55] #2611 closed

[2021-06-08 08:59] marbar3778 commented on #2920
BlockTimeIota was removed recently, we need to remove the config params in favor of a more global approach (#5911)

[2021-06-08 09:01] marbar3778 commented on #2910
In 0.35 we will support psql. If you would like a larger feature set, please use postgres instead of the native indexer.

[2021-06-08 09:01] #2910 closed

[2021-06-08 09:01] marbar3778 commented on #2909
In 0.35 we will support psql, if you would like larger feature set, please use postgres instead of the native indexer.

[2021-06-08 09:01] #2909 closed

[2021-06-08 09:04] marbar3778 commented on #3533
Moving forward we will not be removing abciResults duplication. With the support of psql, we recommend users to index with postgres, and we will use the saving of txResults in order to enable reindexing.

Closing this issue for now, please reopen if its applicable.

[2021-06-08 09:04] #3533 closed

[2021-06-08 09:05] marbar3778 commented on #3436
closing this as the implementations have diverged far enough its not worth trying to upstream things.

[2021-06-08 09:05] #3436 closed

[2021-06-08 09:10] marbar3778 commented on #3313
closing as many people were not able to reproduce, and we optimized the merkle hashing recently

[2021-06-08 09:10] #3313 closed

[2021-06-08 09:14] marbar3778 commented on #3589
closing, reopen if still applicable.

mempool v1 has its own reactor, not using the same one as v0. Coupling reactor to mempool makes sense.

[2021-06-08 09:14] #3589 closed

[2021-06-08 09:18] marbar3778 commented on #5460
closing this, reopen if we want to migrate p2p messages from protobuf to native.

[2021-06-08 09:18] #5460 closed

[2021-06-08 09:20] marbar3778 commented on #5206
In 0.35 we will support psql, if you would like larger feature set, please use postgres instead of the native indexer.

reopen if we still want to add this into the internal indexer.

[2021-06-08 09:20] #5206 closed

[2021-06-08 09:40] marbar3778 commented on #5694
Are we fine with removing the abci_query test for now?

cc @cmwaters

[2021-06-08 09:44] cmwaters commented on #5694
Yeah I guess so. I think the entire `abci_query` RPC endpoint needs to be rethought. I think it was a helpful tool a while back but now we have fully fledged SDK's to build applications on top off I don't think having this call is necessary. The SDK should and I think does support the application with querying its data

[2021-06-08 09:46] marbar3778 commented on #5694
We would need to think of a way of handling light client queries, though. I think the main use case was light client queries and the sdk used it as a workaround for IAVL issues.  Do you have something in mind with this?

[2021-06-08 09:50] cmwaters commented on #5694
But the light client doesn't know how to verify the proofs - it has to be injected in and it's messy.  I think the best thing would be to provide an interface so that applications can also implement light nodes (ABCILight lol)

[2021-06-08 09:52] marbar3778 commented on #5694
this is how its currently done, the application registers the proof format for verification. This is why applications should integrate the light client in their app and not use Tendermints. For example: https://github.com/cosmos/cosmos-sdk/pull/9155

[2021-06-08 09:53] marbar3778 commented on #688
With ABCI++ we are migrating to finalizeBlock, this will deliver transactions as a single batch. Not sure if we need to worry about bidirectional streaming in this case.

closing this, reopen if we want to add streaming for checktx.

[2021-06-08 09:53] #688 closed

[2021-06-08 09:55] #5694 closed

[2021-06-08 10:22] fedekunze opened #6551 "Add block gas used to `ResultBlockResults` response"
## Summary

Add the total gas used in the block to the `coretypes.ResultBlockResults`

## Problem Definition

As a user, I would like to retrieve the total gas used in a block without needing to iterate over all the `ResponseDeliverTx` items, so that I can populate the total gas used on the ethereum transaction receipt

## Proposal

Sum the txs gas used and add a new `TotalGasUsed` in the block to

[2021-06-08 12:03] tychoish opened #6553 "rpc: move `p2p.NodeInfo`, `p2p.ConnectionStatus` to types"
Based on @cmwaters comment on #6547, these times need to remain exported to for users of the RPC layer.

[2021-06-08 12:24] alexanderbez commented on #2484
I'm not really sure what this issue is trying to achieve tbh. In the mempool v1 we keep a main thread-safe store (map) while building indexes on top of it, such as a gossip index and priority index.

[2021-06-08 13:25] #2484 closed

[2021-06-08 13:58] #5752 closed

[2021-06-08 14:50] ValarDragon commented on #6539
I also think this is something that needs integration.

I'm in support of making tx hashing more application defined, this will be quite useful for a variety of other features as well. (You need this for having the txhash not include witness data that is intended to not make it into the final proposed block)

The only place that makes sense to me with the current abstractions would be to place thi

[2021-06-08 17:32] #6071 closed

[2021-06-08 18:19] tychoish opened #6555 "rpc: make changes to accommodate new p2p layer"
There are a number of aspects of the RPC layer that depend on aspects of the legacy p2p stack, which (likely) don't work when using the router rather than the switch (and would probably cause panics.) Before cutting a release we should fix these methods. This issue affects several methods:

- `DumpConsensusState`
- `NetInfo`
- `UnsafeDialSeeds`
- `UnsafeDialPeers`

I guess the questions are:

- Do

[2021-06-08 18:28] alexanderbez commented on #6555
So we definitely need to keep `DumpConsensusState` and `NetInfo`, which I think should be very straightforward with the new p2p stack.

I'm a bit skeptical on the `UnsafeDialSeeds` and `UnsafeDialPeers` methods though. Perhaps we remove those.

[2021-06-08 19:38] tychoish commented on #6555
I think removing the Unsafe methods make a lot of sense, and should be relatively non-contraversal.

The `NetInfo` method exports the `p2p.ConnectionStatus` (a property of the connection so probably fine,) and the `p2p.NodeInfo` which isn't a structure that we cache in the new peer manager (and perhaps don't want to?)

[2021-06-08 22:43] tychoish commented on #6555
I'd like to hear more about how these methods are used. it seems to me, that the legacy system wasn't great at staying connected to new peers or to connecting very frequently? The thought, as I understand it, is that the new p2p layer wouldn't need this kind of manual intervention/handcranking. Does the system not work without these methods, or do they just make a class of operations work faster?

[2021-06-09 04:07] cuonglm opened #6557 "fuzz: adding entrypoint package for fuzzing"
## Summary

We need to add fuzzing to improve code quality.

## Problem Definition

Currently, there's no fuzzing in the code base. It's problem for critical code path, like `p2p`, `crypto`, ... which require high quality/performance/security.

## Proposal

Adding `fuzz` package for fuzzing al necessary code path, roughly the same as https://github.com/cosmos/cosmos-sdk/tree/fuzz-packages/fuzz

__

[2021-06-09 04:07] cuonglm commented on #6557
cc @odeke-em @tessr @marbar3778

[2021-06-09 04:16] augchan42 commented on #6416
More basically, doing a make fails immediately as the check target is not defined in the makefile

osboxes@osboxes:~/tendermint$ make
make: *** No rule to make target 'check', needed by 'all'.  Stop.
osboxes@osboxes:~/tendermint$

[2021-06-09 05:51] marbar3778 commented on #6555
How I have used it and other validators, I know, use it is when spinning up a new node instead of modifying the config or vis cmd line this endpoint would be used to give it peers but also the nodes that are already running to add this new node as a persistent peer. This avoids needing to stop and restart your node.

[2021-06-09 08:16] Freak12Techno commented on #5206
@marbar3778 are there any guides on using psql with WebSocket and /subscribe in 0.35?

[2021-06-09 13:10] alexanderbez commented on #5206
Websockets are used for subscribing to _live_ events. Sinks, e.g. `psql` and `kvstore` are used to _index_ events.

[2021-06-09 13:13] alexanderbez commented on #6557
@melekes did a lot of work on introducing fuzzing into Tendermint. I'd highly recommend going off of what he's already established in this repo.

[2021-06-09 13:18] odeke-em commented on #6557
Aleksandr, adding this repo to oss-fuzz is setting up indeed so that prior
fuzzing functions can be used continuously. We are indeed building off
prior fuzzed code but taking it to the next level :-)

On Wed, Jun 9, 2021 at 4:13 PM Aleksandr Bezobchuk ***@***.***>
wrote:

[2021-06-09 14:26] RodrigoASilvaSimoes opened #6561 "Echo method not found"
**Tendermint version**:
unreleased-master-d6b4bc267bf333124438ed6b32a61660aa3e8fa1

**ABCI app**:
https://github.com/climber73/tendermint-abci-grpc-java

**Environment**:
- **OS**: Ubuntu 20.04.02 64-bit
- **Java version**: 12.0.2

**What happened**:
Using your latest version with your source code from a tutorial found on this page: https://docs.tendermint.com/master/tutorials/java.html.
I simply

[2021-06-09 14:27] tychoish commented on #6555
I guess I'm confused as to the resistance to restarting a node to update the config vs using one of these unsafe methods. If the node doesn't have peers it's not meaningfully "up" (or making progress), so restarting it wouldn't hurt (or am I missing something?) It also seems, well, unsafe, to be able to effectively change the configuration via the RPC interface.

I think the way we'd end up implem

[2021-06-09 14:41] alexanderbez commented on #6555
Well it could have peers, but maybe it wants more. Also, restarting nodes isn't as simple as you'd think for some validators. Many run theirs through VaaS providers, others have very strict SLAs/uptime requirements and restarting for just a config change may not be worth the trouble or risk.

[2021-06-09 15:37] odeke-em commented on #6557
@cuonglm there are some fuzz functions as @alexanderbez mentioned that @melekes had done, please see https://github.com/tendermint/tendermint/search?q=fuzz

[2021-06-09 23:46] JayT106 opened #6564 "statesync: increase chunk request timeout and decrease chunkFetchers"
## Summary

Increase the chunk request timeout and decrease chunkFetchers. It can be hardcoded or make into a config setting.

## Problem Definition

Currently, the default chunk request timeout is 10 secs and not able to modify it. We can see our seed node server receive a chunk request from peers but not able to send the chuck in time. Therefore, the peer statesync will fail because not able to

[2021-06-10 13:47] cmwaters commented on #6389
The rest of this issue has been solved here: https://github.com/tendermint/tendermint/pull/6538.

I have tried running a light client with `master` and `v0.34.0` on `cosmoshub-4` and it seems to all be in order so I'm closing this issue.

[2021-06-10 13:47] #6389 closed

[2021-06-10 13:49] cmwaters commented on #5149
I'm redirecting all future amnesia related work to this issue here: https://github.com/tendermint/tendermint/issues/5270

[2021-06-10 13:49] #5149 closed

[2021-06-10 14:24] #5414 closed

[2021-06-10 14:25] alexanderbez commented on #6564
I'm not sure there is anything we can do about this due to IAVL's nature and that issue should be raised in the SDK.

To the other points, we can make that configurable.

[2021-06-10 14:36] JayT106 commented on #6564
Yap. the snapshot part is related to the IAVL issue. I believe it's a known issue and the team is working on it.

@alexanderbez do you want me to add these chunk constants to the config?

[2021-06-10 14:39] alexanderbez commented on #6564
I've already started a PR but thanks @JayT106.

[2021-06-10 15:13] cmwaters commented on #6564
I still don't quite understand how changing `chunkRequestTimeout` is going to change anything. It doesn't stop peers from sending chunks after that time has passed; it instead signals when to send a second request for the chunk. I think it might even be a misnomer calling it a timeout. The same goes with decreasing the chunkFetchers - I'm struggling to reason how it makes a difference.

[2021-06-10 15:52] cmwaters commented on #5067
I'm closing this as I don't think this issue is relevant given the recent context surrounding reactor support and changes made to internalize the API. For those that come across this and are interested to where talk of custom reactors headed I would defer to https://github.com/tendermint/tendermint/pull/6562

[2021-06-10 15:52] #5067 closed

[2021-06-10 18:56] JayT106 commented on #6564
@cmwaters from the behavior I've seen was: you are correct, the `chunkRequestTimeout` cannot stop the connecting peers sending the chunks. But it increases the p2p overhead between the connecting peers (our seed nodes) and my local node. Especially under the network bandwidth limitation (each chunk size has 10MB if I'm correct), Therefore, my local node is not able to receive the chunks within who

[2021-06-11 08:59] cmwaters commented on #6564
I get your point about the bandwidth but if 10 seconds is too short for 10MB then can't we just increase it to 20 or 30 seconds. Like I understand that the time we've chosen could be incorrect but I don't think we should make the value something configurable. All networks deal with the same problem (send 10MB of chunk data in 10 seconds) hence why would they need to tweak it. My view is if we can

[2021-06-11 12:49] alexanderbez commented on #6564
@cmwaters I don't think you can reasonably expect that. You can't assume that all network topologies behave in the same way. Different nodes/networks sit behind various network providers, switches, firewalls, etc..., all competing for bandwidth with other processes.

The fact that the current values didn't provide a successful state sync for @JayT106 and their infra, but does provide successful st

[2021-06-11 13:07] alexanderbez opened #6569 "p2p/conn: secret connection broken [P2P Audit]"
The `dhSecret` is computed using `X25519`, then it is used to generate secret for receiving, sending and challenge without hashing.

The problem is that [with X25519, multiple publics key can lead to the same shared secret](https://crypto.stackexchange.com/q/73138/33178), aka `dhSecret` in this case. So if the attacker can control the `dhSecret`, he owns the secret connection. Further more, withou

[2021-06-11 13:08] alexanderbez opened #6570 "p2p: (*MConnTransport).TrySendMessage is inadequately tested [P2P Audit]"
Increase test coverage of `MConnTransport#TrySendMessage `

[2021-06-11 13:10] alexanderbez opened #6571 "p2p: PeerManager retryDelay issues [P2P Audit]"
`p2p.PeerManager#retryDelay` sends back 0 on no failures, yet still sets up a timer.

https://github.com/tendermint/tendermint/blob/00c284d9d77d4539264a5edd12a75d9bc248a746/p2p/peermanager.go#L542-L554

[2021-06-11 13:11] alexanderbez opened #6572 "p2p: PeerManager TryEvictNext Tests [P2P Audit]"
`p2p.PeerManager#TryEvictNext` doesn't test conditions of above capacity. For robustness we need to ensure that even when we are above capacity, that we know how to evict peers but also that code doesn't crash.

[2021-06-11 13:13] alexanderbez opened #6573 "p2p: PeerRatio Lock [P2P Audit]"
`PeerManager#PeerRatio` should hold the lock right before checking if m.options.MaxPeers == 0.

`PeerManager#DialFailed` invokes a goroutine after m.retryDelay that calls m.dialWaker.Wake() after a timeout, but immediately after the goroutine is created, unconditionally invokes m.dialWaker.Wake().

[2021-06-11 13:24] cmwaters commented on #6564
Sure I was making a rough generalisation about network typologies but the point was that they're not magnitudes different. Also I don't think this is a factor we need to get exactly right. It's fine to err on the safe side and bump it up a little higher if we know that it's causing too much network traffic.

I don't really think there's enough data points to draw that conclusion. What I hear (admi

[2021-06-11 13:28] alexanderbez commented on #6564
Ok so what value do you bump it to and why? And what if users still see issues and we come full circle? What value(s) to we bump it to then?

What are the solutions here? You either (1) keep the values the same, (2) tweak them arbitrarily (we'll never have enough context or data to reasonably set these), or (3) make them configurable with sane defaults.

[2021-06-11 14:20] JayT106 commented on #6564
I think we can keep the current configuration as it is. So it doesn't create troubles for the other projects using the tendermint core
Just made it configurable.

[2021-06-11 15:08] cmwaters commented on #6564
Well what are we trying to solve here: My understanding is that when we request a second chunk of the same index in quick succession (i.e. after 10 seconds), we are potentially incurring unnecessary bandwidth (10MB worth) because the first request had taken longer to respond. So we want to mitigate the amount of times we request a second chunk when the first is on its way.  Network speeds are usua

[2021-06-11 15:17] #3584 closed

[2021-06-14 08:34] #5407 closed

[2021-06-14 08:35] #2801 closed

[2021-06-14 09:16] cmwaters commented on #6564
Ah really? Here are my points against making this configurable just to be clear:
- At a high level, I feel that we should only make something configurable as a last resort - I feel that already a lot of the current `config` file could be simplified. We still need configuration but having too much configuration can be overwhelming; it requires users to have a good understanding of the mechanics of

[2021-06-15 18:33] #6564 closed

[2021-06-16 08:59] cmwaters opened #6584 "tx indexer: add apache kafka event sink"
## Summary

[ADR 065](https://github.com/tendermint/tendermint/blob/master/docs/architecture/adr-065-custom-event-indexing.md) introduced custom TX indexing via event sinks. We also added postgres support which offers a rich query engine for clients (block providers / wallets) that want to make funky transaction queries. The other use case that clients may want transactional data is via event stre

[2021-06-16 20:11] tychoish commented on #6555
Surely VaaS companies provide some mechanism to support restarts to accommodate config changes and/or upgrades?

We did some discussing about this earlier, and at least on the hub the uptime requirement is pretty flexible (to get slashed you have to miss 95% of 10k blocks, which means being offline for 16 hours, and  therefore can have recoverable production outages of basically anything less than

[2021-06-16 20:22] tychoish commented on #6573
These appear to be seperate issues, is that correct?

[2021-06-16 20:59] alexanderbez commented on #6573
No, not based on the audit report. @odeke-em want to chime in?

[2021-06-16 21:02] alexanderbez commented on #6555
No, not directly (I've worked on one).

This is the direct uptime requirements of the protocol. Customers and clients running infra have different SLAs and requirements, often more strict.

[2021-06-16 21:06] #6571 closed

[2021-06-16 21:44] thephez opened #6592 "docs: minor typo on transaction flow diagram"
**Tendermint version**: N/A

**ABCI app**: N/A

**Environment**: N/A

**What happened**:

There's a typo in the lower right side of the [transaction flow diagram](https://github.com/tendermint/tendermint/blob/master/docs/imgs/tm-transaction-flow.png). Where the "Mempool Connection", "Consensus Connection", and "Query Connection" are listed, "Consensus" is improperly spelled as "Cosensus".

[2021-06-17 05:30] marbar3778 commented on #6592
Nice find!! This has gone under the radar for a couple of years. I will see if we can dig up the diagram, otherwise we may need to live with it.

[2021-06-17 11:24] RafyAmgadBenjamin commented on #3778
This issue was reproducible with me
Burrow version
[code]

I have created two nodes on the machine (one will work as seed node and the other will word as validator node) and I have created another validator node running on another machine, there is no persistent peers

### In case `SeedMode=false` (which actually shouldn't work according to the docs)

- curl consensus on the seed node
[code]
got
[

[2021-06-17 12:16] thephez commented on #6592
Sounds good. Sometimes I just can't unsee typos so I thought I'd mention it :smile:

[2021-06-17 14:13] cmwaters opened #6593 "p2p: don't route messages to peer queues where the peer doesn't have the channel"
## Summary

Upon receiving a message from a peer to a channel that the router isn't aware of, the router will drop the message however if the sender is aware of the channels that the receiver has, they could stop the message from reaching their own queue as well as travelling across the network to the receiver in the first place.

## Proposal

Router tracks the connected peers channels (we could a

[2021-06-17 14:28] alexanderbez commented on #6593
I see these as two orthogonal issues -- smarter peer update management and more efficient gossiping. Where I think the latter is more important IMHO.

[2021-06-17 15:19] cmwaters commented on #6593
I wouldn't call them completely orthogonal but they can be considered two different issues and I do agree that the latter is more important

[2021-06-17 19:21] tanyabouman opened #6596 "rpc/test: pathname from makePathname is excessively long"
## Problem Definition
In order to make a unique name, `makePathname` [returns the entire, very long path](https://github.com/tendermint/tendermint/blob/3635c7a3829d309c33b998044384b6fdcb8e8a2c/rpc/test/helpers.go#L58).

However, this is no longer necessary, because `pathname` now ends up getting passed along to `ioutil.TempDir` anyways, which takes care of making the path unique.

## Proposal

Rem

[2021-06-17 19:35] alexanderbez commented on #6593
IMHO they are orthogonal in their solution and context. I would create two separate issues.

[2021-06-18 09:40] cmwaters commented on #6593
Ok I will pull it out into a different issue

[2021-06-18 09:43] cmwaters opened #6598 "p2p: peer update subscription model should take channels into consideration"
## Summary

We need to think about the peer update subscription model. At the moment, the reactor allows for anyone to open a subscription to listen to peer status updates. However most reactors only care for updates that relate to the channels they are operating across i.e. The block chain reactor doesn't care if a peer status comes through for a new peer that only runs the PEX reactor. We can le

[2021-06-18 13:30] alexanderbez commented on #6598
You mean the router, right? Not reactor.

[2021-06-18 13:34] alexanderbez commented on #6598
Also, I'm not quite making the connection between `PeerUpdate` and `Channel`...The router sends a `PeerUpdate` to all of it's subscribers. This has nothing to do with a `Channel`, it only cares about the peer's `Status`.

[2021-06-18 17:27] marbar3778 opened #6604 "p2p: dont retry nodes with incorrect configurations"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

**ABCI app** (name for built-in, URL for self-written if it's publicly available): cosmos-sdk

**What happened**:
While launching a chain with osmosis, we observed nodes with incorrect chainIDs. The node would through an error, but still try to redial

[code]

**What you expected to happen

[2021-06-18 20:05] tanyabouman opened #6605 "cmd/tendermint/commands: use a generated temporary directory"
## Problem Definition
In the [commands/root_test file](https://github.com/tendermint/tendermint/blob/3635c7a3829d309c33b998044384b6fdcb8e8a2c/cmd/tendermint/commands/root_test.go#L22), the tests run in `$HOME/.some/test/dir`, rather than a proper temporary directory, such as something made by a `TempDir` function.

## Proposal
Replace this with something that uses `ioutil.TempDir`, `testing.TempDi

[2021-06-19 07:15] tac0turtle opened #6606 "node: establish p2p & expose RPC prior to genesis time"
## Summary

When a chain is launching, they may have a future genesis time. Validators turn on their nodes and let them sit until launch. This is good, but when the chain launches, a user could begin seeing p2p errors due to user misconfigurations and have to restart multiple times. Allowing the p2p layer to conduct handshakes prior to genesis would allow these issues to go away because they would

[2021-06-20 12:45] RiccardoM opened #6607 "Node stopped with error"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):
v0.34.10

**ABCI app** (name for built-in, URL for self-written if it's publicly available):
[Desmos](https://github.com/desmos-labs/desmos)

**Environment**:
**OS** (e.g. from /etc/os-release)
[code]

**What happened**:
The node stoppped

**Have you tried the latest version**
No

**How to

[2021-06-21 04:20] laniehei commented on #6584
A few questions came up for me while thinking about this issue

- There are several prominent opensourced kafka go packages available, namely [kafka-go](https://github.com/segmentio/kafka-go), [confluent's kafka implementation](https://github.com/confluentinc/confluent-kafka-go), and [sarama](https://github.com/Shopify/sarama). Is it dealer's choice which one to choose?
- Why are several of the me

[2021-06-21 12:10] alexanderbez commented on #6584
The no-op methods are the searching methods. The reason they are no-op is because the underlying sink, e.g. postgres, already provides this functionality as that is the entire point of the sink. e.g. you wouldn't provide a SQL query directly to the RPC method, you'd use Postgres directly. The same would apply for Kafka or any other sink.

[2021-06-21 12:57] #6573 closed

[2021-06-21 13:44] #6596 closed

[2021-06-22 13:01] alexanderbez commented on #6607
I don't understand @RiccardoM. The logs don't indicate anything with regards to the node stopping or anything that went wrong. What I do notice is that the process is managed by `cosmovisor`. Are you sure that `cosmovisor` didn't stop the binary?

[2021-06-22 16:24] RiccardoM commented on #6607
@alexanderbez Is there any way I can check if it was Cosmovisor causing this? The node just plain stopped without any error. The logs stopped rolling and the process froze. Is there a way I can search for additional logs?

[2021-06-23 08:00] #3507 closed

[2021-06-23 08:09] marbar3778 commented on #6607
@RiccardoM Could you ask in the cosmos discord or in the comsos-sdk repo. We dont have the best knowledge on cosmosvisor.

[2021-06-23 08:09] #6607 closed

[2021-06-23 08:11] marbar3778 commented on #6561
Hey, thanks for the opening this issue. What version of tendermint are you using? This seems to be a version mismatch.

[2021-06-23 08:12] marbar3778 commented on #6557
@cuonglm can this be closed?

[2021-06-23 08:13] cuonglm commented on #6557
Ah yes.

[2021-06-23 08:14] #6557 closed

[2021-06-23 08:19] marbar3778 commented on #6551
This could be done. Thanks for opening the issue.

For whoever picks this up, please update the spec as well
(https://docs.tendermint.com/master/spec/rpc/#blockresults)

[2021-06-23 08:20] marbar3778 commented on #6410
@alexanderbez when you get back from vacation, could you update this issue with anything outstanding.

[2021-06-23 08:25] marbar3778 commented on #1770
@tychoish, I would like to hear your take on this one. You worked in the DB world for a while.

[2021-06-23 13:07] crypto-facs commented on #6551
Hey @marbar3778! I think I could help with this issue

[2021-06-23 14:40] tac0turtle opened #6611 "p2p: when connecting to a peer error is not descriptive"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source): 0.34.10

**ABCI app** (name for built-in, URL for self-written if it's publicly available): cosmos-sdk

**What happened**:
When connecting to a node, if their address book is full the observed error will be i/o timeout, which could mean anything, but we keep trying to dial them

**What you

[2021-06-23 14:54] marbar3778 commented on #6551
AMAZING!! let me know if you need any help!

[2021-06-23 14:59] crypto-facs commented on #6551
For sure! Thanks for the offer 💪 .. Can you please add me as a contributor so I can assign myself?

[2021-06-23 16:04] fedekunze commented on #6539
will work on the ADR this week

[2021-06-23 18:20] fedekunze commented on #6551
awesome @crypto-facs, ping me in the PR if you need an extra review

[2021-06-23 20:10] JayT106 commented on #2207
@alexanderbez @ValarDragon just looking at this issue, the mempool V0/V1 uses CList.
 Do you think it's still true for detaching the prev and the next element when removing an element?

[2021-06-23 21:03] tychoish commented on #4848
The new P2P layer doesn't have an address book in the same way that this describes, or would be relevant here, so I'm going to go ahead and close this issue, because I think no longer relevant.

[2021-06-23 21:03] #4848 closed

[2021-06-23 21:27] JayT106 commented on #3365
@marbar3778 could you assign this issue to me? also the issue #2498? thanks!

[2021-06-23 21:42] marbar3778 commented on #3365
assigned in this one. I think you need to leave a comment in the other one in order for me to assign it.

[2021-06-23 23:25] JayT106 commented on #2498
@marbar3778 could you please assign this issue to me? thanks!

[2021-06-23 23:26] JayT106 commented on #3365
Cool. I left a comment in the other one.

[2021-06-24 12:50] crypto-facs commented on #6551
Hey @marbar3778 I am about to raise a small PR to tackle this. Can you please point me to where I can update the specs?

[2021-06-24 13:30] tychoish opened #6616 "Move all `types` types package into `pkg` subpackages"
This is just a coordinating issue to move types around in preparation for the public API work. The goal of this issue is eliminate the `types` package entirely, and replace it with sub-packages within a new `pkg` hierarchy to hold types specific to their use/function. Additional goals, making the dependencies between legacy `types` types more explicit, permitting an "import what you need" model.

[2021-06-24 14:09] tychoish opened #6617 "move generated proto files to `internal`"
This will make it so that other libraries cannot use our copies of the generated protobuf code, and will have to generate their own copies (which will help us upgrade libraries as needed.)

As a result a a number of the functions in the `types` package will need to become private, so this is worth thinking about in connection with #6616.

[2021-06-24 15:11] #3983 closed

[2021-06-24 17:47] #6551 closed

[2021-06-24 21:28] RodrigoASilvaSimoes commented on #6561
When I execute "tendermint version" the output is:
unreleased-master-d6b4bc267bf333124438ed6b32a61660aa3e8fa1

[2021-06-25 08:56] marbar3778 commented on #6616
How does this differ from types?

I think the hardest point will be figuring out cyclical imports, but it can be done. Could we get an overview of potential cyclical imports to have a better understanding of what's possible.

[2021-06-25 09:02] marbar3778 commented on #6617
This will effect the sdk. CC'ing people for visibility

cc @amaurym @ryanchristo @aaronc

[2021-06-25 09:06] marbar3778 commented on #6592
We weren't able to find the diagram, but the design team has added a todo to update and make the diagram cooler. Will close this issue for now.

Thank you for opening this issue 😄

[2021-06-25 09:06] #6592 closed

[2021-06-25 12:07] aaronc commented on #6617
Can you provide more rationale pleas?

[2021-06-25 13:14] #6519 closed

[2021-06-25 14:27] tychoish commented on #6617
I think this is sort of related to the #6166: right now we have a collection of types (in the `types` package, but this may move,) and we have a lot of boilerplate functions that convert these types to/from protobufs, and it would be nice if we could reduce the public surface area of the `types` folder, by moving the generated protobuf code out of the public API, we can also move the converting co

[2021-06-25 15:24] aaronc commented on #6617
I would prefer if this doesn't go in 0.35 so that the SDK's work on mempool prioritization doesn't get delayed.

[2021-06-25 15:40] tychoish commented on #6616
I think `types`, as a result of being _singular_ is easier to review and spot check, but I think in both cases it's up to reviewers to police the boundary, so I think you're right that it's not mechanically different. I think that putting big implementations into packages named `types` raises red flags in a way that putting a big implementation into a package named `pkg/mempool` wouldn't, and so `

[2021-06-25 15:41] tychoish commented on #6617
Waiting on this till after 0.35 might make a lot of sense! I think we should also consider doing this more or less at the same time as #6616 because they impact a very related set of types.

[2021-06-25 16:12] tychoish commented on #3540
This was implemented as part of the new P2P stack, so I think it makes sense to close this issue.

[2021-06-25 16:12] #3540 closed

[2021-06-25 16:13] tychoish commented on #3679
This was accomplished as part of the p2p refactor, and I don't know that keeping this issue open serves any particular purpose.

[2021-06-25 16:13] #3679 closed

[2021-06-25 16:15] tychoish commented on #2338
This was removed as part of the P2P refactor, and should not be an issue moving forward.

[2021-06-25 16:15] #2338 closed

[2021-06-25 17:35] tychoish commented on #4753
Yep! this is now implemented in the new P2P stack. I'm going to go ahead and close this issue.

[2021-06-25 17:38] tychoish commented on #3183
This issue is longer relevant in the new P2P stack.

[2021-06-25 17:38] #3183 closed

[2021-06-25 19:40] alexanderbez commented on #6616
Fully support the `pkg/<domain>` model, however, I do not support doing it in one fell swoop -- I'd rather implement and review PRs package-by-package.

[2021-06-25 19:49] tychoish commented on #6616
I could really go either way on this, there's pros and cons to both approaches, though I feel pretty strongly that we shouldn't do half of the packages in one release and half of the packages in the next release. I think the main open question is: _Should this go in to 0.35?_

As a practical matter, given the reliability of the CI and its turn around time, makes doing this package-by-package 5x as

[2021-06-26 14:41] alexanderbez commented on #6616
I think there is no need to rush this and get this into 0.35 -- AFAIK this was never the plan. Ofc, we'd get it all in one release however. And doing it pkg by pkg won't really cost us anything.

[2021-06-26 14:52] tychoish commented on #6616
The increase in cycle time and reviewer fatigue is not free.

If we're ok with this happening in 0.36, then it means that some additional types will need to move into the `types` package for 0.35. Which I think is ok...

[2021-06-26 15:00] alexanderbez commented on #6611
If I'm not mistaken, this happens in the PEX reactor, which is now different in the new stack, as in we don't have an address book really. Do you think there's anything to be carried over to the new stack in this context?

[2021-06-26 15:01] alexanderbez commented on #2207
Yes @JayT106. If you want to give a PR a shot, I'd be happy to review :)

[2021-06-26 15:07] alexanderbez commented on #6616
I respectfully disagree. Reviewers are _benefited_ by the smaller scoped PRs. In addition, there is no rush to do this in a day or even a week, so the cycle time argument is moot.

[2021-06-28 07:58] marbar3778 commented on #1784
completed via #6526

[2021-06-28 07:58] #1784 closed

[2021-06-28 08:09] marbar3778 commented on #6616
Moving the types that weren't in `types` prior to 0.35 into `pkg` makes sense, to me, and then for 0.36 we migrate `types` into `pkg`.

[2021-06-28 10:51] tychoish commented on #6616
While this makes a certain amount of sense, abstractly, I think given dependencies this will be difficult in practice. Additionally the UX for this is poor, as people who weren’t users during 0.34 won’t be able to understand why some types are in one location and other types are in another.

[2021-06-28 13:45] JayT106 commented on #2207
Sure!

[2021-06-28 13:50] #5142 closed

[2021-06-28 14:38] #6605 closed

[2021-06-28 14:43] #5912 closed

[2021-06-28 14:46] tessr commented on #874
[Note: This is distinct from indexing; this is subscribing to live events as they happen.]

[2021-06-28 14:48] marbar3778 commented on #874
TODO:
- Who would benefit from this change?
- What are the options from moving away from our custom pubsub model.

[2021-06-28 14:49] #907 closed

[2021-06-28 14:50] #1212 closed

[2021-06-28 14:53] marbar3778 commented on #1848
Closing cause we aren't doing this bounty anymore.

[2021-06-28 14:53] #1848 closed

[2021-06-28 14:57] marbar3778 commented on #1941
lets delete the k8s stack. its outdated.

[2021-06-28 15:00] marbar3778 commented on #2185
Open Question:

- When and under what circumstances should we disconnect from a peer or mark as a bad peer?

[2021-06-28 15:04] marbar3778 commented on #2187
This has overlap with https://github.com/tendermint/tendermint/issues/6539. If and when the mentioned issue would be merged this would be up to the application developer.

[2021-06-28 15:25] alexanderbez commented on #6539
So there are a few things we need to complete here:

1. Remove the hard-coded SHA256 hashing
2. Introduce a Hasher that supports a fixed-set of supported hashers for now (SHA256, BLAKE2b)
3. Possibly support custom hashers via an interface

I was originally opposed to (3) for now, but realized in order to support Ethereum, we need it because otherwise we'd have to implement RLP (unless Ethereum ha

[2021-06-28 15:34] alexanderbez commented on #874
I believe the less proprietary code we have to maintain, the better. I don't know if Redis is the right approach, but if we can find a well supported go-native approach that would allow us to remove the custom querying and match code, I think that would be worth it. We should explore the landscape of pubsub frameworks out there that persist data to replace our own.

[2021-06-28 17:11] #1941 closed

[2021-06-28 18:05] KrzysiekJ commented on #1848
So will bounty claims submitted when the bounty was still active be evaluated manually?

[2021-06-28 20:35] RodrigoASilvaSimoes commented on #6561
I went to tested on branch release/v0.32.5 and it showed me the first warning message but tendermint behave as expected, no errors.
Then I tested on branch release/v0.34.0 and the error remains.

Unfortunately I do need version 0.34.0 for my project.

[2021-06-29 07:44] marbar3778 commented on #6561
do you have a link to the code you are writing?

[2021-06-29 07:45] marbar3778 commented on #1848
The team has changed a bit. Could you tell us where you submitted your work?

[2021-06-29 08:27] marbar3778 commented on #2358
closing this for now. We would like to best support the key types in the repo. We have plans on adding bls in there as well.

If people would still like to inject their custom key type, please comment here or open a new issue with your usecase.

[2021-06-29 08:27] #2358 closed

[2021-06-29 08:49] marbar3778 commented on #3211
we recently implemented a re-indexing feature. Please reopen if you see this issue as still relevant.

[2021-06-29 08:49] #3211 closed

[2021-06-29 08:56] marbar3778 commented on #3696
we recently rewrote the p2p layer. The team decided to go with a custom implementation instead of libp2p. Will close this issue for now, we can come back to it in the future.

[2021-06-29 08:56] #3696 closed

[2021-06-29 08:57] marbar3778 commented on #3619
This is being done as we go through the repo and refactor parts. Closing the issue, reopen if necessary.

[2021-06-29 08:57] #3619 closed

[2021-06-29 08:58] marbar3778 commented on #4371
this is solved with #6535. A node operator needs to tell the node to reindex all ABCIResults, if they have them.

[2021-06-29 08:58] #4371 closed

[2021-06-29 09:00] marbar3778 commented on #4167
We made a majority of the API internal now. This drastically reduces the API. Reopen if necessary.

[2021-06-29 09:00] #4167 closed

[2021-06-29 09:01] marbar3778 commented on #3931
closed via #6386

[2021-06-29 09:01] #3931 closed

[2021-06-29 09:04] marbar3778 commented on #5608
is this actually a edge case we want to cover. If the internet goes down we can keep retrying the nodes but after a certain amount of time, IMO, we should shut down. It could signify larger issues.

[2021-06-29 10:44] cmwaters commented on #5617
We can close this issue. It was solved in #6463

[2021-06-29 10:44] #5617 closed

[2021-06-29 14:24] KrzysiekJ commented on #1848
Below is an email that I sent on `Tue, 04 Apr 2017 14:27:17 +0200` to `hello@tendermint.com` (subject: “ABCI server and counter in Erlang”). This was forwarded on `Fri, 28 Apr 2017 18:29:58 +0200` to `adrian@tendermint.com`.

The topic was also brought on the community channels and resulted in me submitting tendermint/abci#160 (see tendermint/abci#76 for some context).

As this ABCI server has bee

[2021-06-29 14:41] alexanderbez commented on #3719
Yeah only the router can disconnect from peers. Reactors can request for peers to be disconnected from or connected to.

[2021-06-29 14:50] tessr commented on #1848
@KrzysiekJ I will reach out to Tendermint Inc. to see what the status of this bounty is. (@marbar3778 and I are employees of Interchain GmbH, a separate company.)

[2021-06-29 15:11] alexanderbez commented on #3546
So we can modify `ResponseCheckTx.Log` by appending a string. What format should the string be in?

[2021-06-29 15:17] alexanderbez commented on #6232
What's the concrete proposal here @ValarDragon? The `Reap*` methods obtain read-lock automatically, whereas `Update` requires the caller to explicitly acquire a write-lock via `Lock`

[2021-06-29 16:15] #6434 closed

[2021-06-29 19:11] ValarDragon commented on #6232
Its to change the write lock for update to be managed internally to the method, and to instead be semantically changed into two different write locks, one for the first `MaxBytes` worth of txs, and the second for all remaining txs. Then Reap's read lock only needs to get a lock on the first `MaxBytes` worth of txs, not all txs.

This makes larger mempool sizes then safe for apps with long rechecks

[2021-06-30 00:05] RodrigoASilvaSimoes commented on #6561
Solved it. The java example was broken for version 0.34.0 and up because ABCI changed. I created a fork with the version fixed for 0.34.x.

Here it is: https://github.com/RodrigoASilvaSimoes/tendermint-abci-grpc-java

[2021-06-30 00:05] #6561 closed

[2021-06-30 00:28] AlexTroshkin commented on #2949
@melekes, @tessr

Ideally this should be similar to the pub sub implementation in geth

https://geth.ethereum.org/docs/rpc/pubsub

The bottom line is that the client sends a request to the server, which in turn returns the identifier of the created subscription (in our case, for example, it can be "query"). After the client has received the identifier, the server can send events to the client usin

[2021-06-30 08:39] marbar3778 commented on #5133
@alexanderbez, do you still want to work on this?

[2021-06-30 08:47] #2207 closed

[2021-06-30 09:01] marbar3778 commented on #3719
closing this as the new stack solves the mentioned issue.

[2021-06-30 09:01] #3719 closed

[2021-06-30 14:58] alexanderbez commented on #5133
Yes, I will look into this now actually.

[2021-07-01 15:12] alexanderbez opened #6636 "Failed Test: TestReactorBroadcastEvidence_Lagging"
https://github.com/tendermint/tendermint/pull/6634/checks?check_run_id=2963975955

[code]

[2021-07-01 15:17] #5133 closed

[2021-07-01 15:19] marbar3778 commented on #5963
closing this as the issues slated in the description have been resolved.

[2021-07-01 15:19] #5963 closed

[2021-07-01 15:20] marbar3778 commented on #6553
@tychoish nodeInfo has been moved, does ConnectionStatus still need to be moved?

[2021-07-01 15:21] marbar3778 commented on #6516
@cuonglm can this be closed?

[2021-07-01 15:22] marbar3778 commented on #5519
for unix, tcp and in process this is the case, but with gRPC the issue above arises.

[2021-07-01 15:23] marbar3778 commented on #3865
@alexanderbez have you observed this behaviour with v1?

[2021-07-01 15:27] marbar3778 commented on #5887
We have moved many reactors into internal and will continue either moving things to internal or pkg at the root level. Closing this issue

[2021-07-01 15:27] #5887 closed

[2021-07-01 15:30] cuonglm commented on #6516
@marbar3778 not yet, there's same issue in `requestRoutine` need to be fixed.

[2021-07-01 15:33] marbar3778 commented on #4933
Closing this as the author has not responded.

[2021-07-01 15:33] #4933 closed

[2021-07-01 15:41] tychoish commented on #6553
I believe so! Particularly if it's used in the RPC layer.

On Thu, Jul 1, 2021, 11:20 AM Marko ***@***.***> wrote:

[2021-07-01 16:02] alexanderbez commented on #3865
I haven't executed these types of benchmarks on v1. However, this shouldn't be happening if the application has replay protection, which should make `CheckTx` calls fail and thus have the tx(s) removed from the mempool data structures.

@marbar3778 how do I reproduce this in the repo? is there a tool or test I can run?

[2021-07-01 16:04] marbar3778 commented on #3865
I reproduced it with https://github.com/informalsystems/tm-load-test and running 1-3 tendermint nodes.

I would bombard the node with txs using kvstore and then watch grafana.

[2021-07-01 16:57] cmwaters commented on #4629
The decision was made in RFC005 to not implement backfill of all state and block data rather to just have backfill of necessary data for evidence handling which would immediately follow a state sync.

Operators wishing to create an archive node can always fast sync a new node from genesis

[2021-07-01 17:07] #4629 closed

[2021-07-01 17:09] cmwaters commented on #6636
There could be overlap with this and the problem I'm experiencing with e2e tests where occasionally when valid evidence is sent to a node, this error pops up:
[code]

Is this error deterministic btw?

[2021-07-01 17:33] alexanderbez commented on #6636
If you mean is the test deterministic, then no :)

Do you mean something else?

[2021-07-01 17:45] cmwaters commented on #6636
Hahaha yeah I meant the test

[2021-07-01 19:05] alexanderbez commented on #5281
So in the case when cache is 0, there is currently nothing in the mempool we do to prevent duplicate txs. I would recommend not using a cache of size 0 and if you do, ensure your app has replay protection.

In the case if a cache size > 0, I think this is possible. Consider the following and correct me if I'm wrong here:

1. Receive tx `Tx1`, where `Tx1` makes the LRU `cache` full.
2. Receive N mo

[2021-07-02 08:11] nhannamsiu opened #6638 "Allow specifying network interface for peer connections"
## Summary
Allow specifying network interface in `persistent_peers` and other peer config fields in `config.toml`.

## Problem Definition
With current implementation, tendermint will only try the 1st interface and skip the rest, regardless the port being open or not.

## Why do we need this feature?
Interface selection is useful when there are multiple layers of sentries running on different VLANs

[2021-07-02 14:01] williambanfield opened #6641 "update minimum go version to 1.16 after 0.35 release"
After 0.35 we should update the minimum required go version to `1.16` to access new features and stay up to date.

* Update the README's and go.mod's listed go versions to 1.16 from 1.15

[2021-07-02 18:47] #6641 closed

[2021-07-02 19:50] williambanfield opened #6644 "Failed Test: TestReactor_Backfill"
Failure can be seen in the [CI pipeline here](https://github.com/tendermint/tendermint/pull/6630/checks?check_run_id=2975122305).
Output:
[code]
Reran locally on same code and saw no error:
[code]

[2021-07-02 20:13] alexanderbez commented on #6644
non-deterministic test on the new backfilling functionality. cc @cmwaters

[2021-07-02 20:38] #6245 closed

[2021-07-02 21:38] #6604 closed

[2021-07-03 12:21] cmwaters commented on #5439
Do we want to re-enable this in the e2e tests?
https://github.com/tendermint/tendermint/blob/0cb0dd7ce92664e317bede99f7321d70d109d204/test/e2e/networks/ci.toml#L73

[2021-07-05 11:00] #6593 closed

[2021-07-05 13:31] cmwaters commented on #6572
How do we get to a situation where the peer manager is above capacity. I thought `Dialed` and `Accepted` were supposed to prevent such conditions?

[2021-07-05 14:42] #6644 closed

[2021-07-06 09:31] marbar3778 commented on #1469
Don't think this is as relevant in the implementation, but in the spec. For the implementation, we should go with what the developers are comfy with. Closing this, if you believe it's still relevant, reopen it.

[2021-07-06 09:31] #1469 closed

[2021-07-06 09:34] marbar3778 commented on #2089
@tychoish and @cmwaters do you believe this can be closed. I know you two have been doing test refactors.

[2021-07-06 09:36] marbar3778 commented on #2680
closing this, I haven't seen this error. If it comes up again, we can open a new issue and assign it accordingly.

[2021-07-06 09:36] #2680 closed

[2021-07-06 09:36] cmwaters commented on #2089
Consensus tests haven't really been touched. I'd sway to leaving this open

[2021-07-06 10:11] tessr commented on #1848
@alessio will follow up on this 🙏🏼  thank you, Alessio!

[2021-07-06 10:20] cmwaters commented on #1418
I'm closing this because I don't think it is relevant anymore. The state store will throw an error instead of panicking which is then handled by the RPC. Speak up if you disagree

[2021-07-06 10:20] #1418 closed

[2021-07-06 10:25] cmwaters commented on #2309
Coming back to this issue, the decision was made to implement proposer based timestamps. The spec can be found here: https://github.com/tendermint/spec/tree/master/spec/consensus/proposer-based-timestamp. We can use #2840 to track the progress

[2021-07-06 10:25] #2309 closed

[2021-07-06 10:30] cmwaters commented on #2840
The team has decided to go forward with implementing proposer based timestamps sometime this quarter. The folks at informal have already helped write up an [extensive spec](https://github.com/tendermint/spec/tree/master/spec/consensus/proposer-based-timestamp). I'm going to pin this issue to track the progress. As most of the details have been sufficiently covered, we'll look to first write up a s

[2021-07-06 10:57] marbar3778 opened #6657 "psql: block_events error"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source): master

**ABCI app** (name for built-in, URL for self-written if it's publicly available): sdk

**Environment**:
- **OS** (e.g. from /etc/os-release):
- **Install tools**:
- **Others**:

**What happened**:
When syncing the hub a psql error for block_events kept popping up.

**What you expec

[2021-07-06 11:34] marbar3778 commented on #6657
getting the same thing on tx_results. I may have set it up incorrectly

[2021-07-06 12:12] marbar3778 commented on #6657
I need to manually do this part that was the issue

[2021-07-06 12:12] #6657 closed

[2021-07-06 12:34] josef-widder commented on #2840
I am happy to review (or contribute to) the ADR for the Informal side. @cmwaters, please don't hesitate to ping me whenever you think I can be of any help!
During July, I might not be able to respond quickly, but from August, I should be more responsive ;-)

[2021-07-06 13:09] alexanderbez commented on #5439
We can re-enable it. I think we may still see those panics though. If we do, we should look into resolving it. I do know socket and gRPC have issues with serialization of mempool txs.

[2021-07-06 13:14] cmwaters commented on #5439
I've re-enabled it here. I will let you know if I come across any panics

[2021-07-06 13:15] #1887 closed

[2021-07-06 14:06] abom commented on #6512
Also I want to mention this built-in app tutorial is outdated and doesn't work or compile:

https://docs.tendermint.com/master/tutorials/go-built-in.html

For instance, the code has internal imports while it instructs the reader to do all in an external package.

[code]

Also, many imports are outdated and definitions are not there anymore.

[2021-07-06 14:27] alexanderbez opened #6660 "mempool v1: recovering from broadcasting mempool loop"
[code]

ref: https://gist.github.com/cmwaters/57a3ae945b58b55c7952a9ee02202c16

1. We should add tracing to the panic recovery.
2. Debug and fix the above issue.

[2021-07-06 14:58] alexanderbez commented on #6572
Good question. This was taken from the audit. I know `PeerManager#TryDialNext` maintains and checks the manager's `upgrading` set, which `Dial` uses. So it doesn't seem to me we ever get above capacity.

@odeke-em did you guys have anything specific in mind here?

[2021-07-06 15:19] cmwaters commented on #6512
Thanks for pointing that out. We've changed up the repo structure a lot in this release so there's definitely a lot updating that will need to be done to the documentation

[2021-07-06 15:33] marbar3778 opened #6661 "psql: too many connections when syncing"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source): master

**ABCI app** (name for built-in, URL for self-written if it's publicly available): cosmos-sdk

**What happened**:
I am using a postgres instance from digital ocean. When i begin syncing a node in order to index all events, its quickly opens 50 connections and is unable to write new

[2021-07-06 15:48] abom commented on #6512
Thank you for your reply. Is it possible that this tutorial works on a certain version (not master)? or the tutorial itself has to be fixed?

[2021-07-06 16:31] JayT106 commented on #6661
guess the issue relate to
https://github.com/JayT106/tendermint/commit/1a7df529f3fdf9f47c8245edba8898bbd2497bb4

Will set up an env to reproduce/verify it.

[2021-07-06 20:14] tanyabouman opened #6663 ".gitignore ignores files in abci/cmd/abci-cli"
**What happened**:
The line `abci-cli` in `.gitignore` ignores any new files added in `abci/cmd/abci-cli`.

**What you expected to happen**:
I expect that if new files, such as Go source files, are added to `abci/cmd/abci-cli`, git should be able to track them.

**Have you tried the latest version**: yes

**Anything else we need to know**:
In the [commit that made the change](https://github.com/te

[2021-07-06 22:36] odeke-em commented on #6572
@alexanderbez we are essentially asking per https://www.notion.so/P2P-Audit-official-report-eeb35cb35c784fd09649baa8a1f24071#488e8cf0f2154f53936b1c22b2e05547 that we test the code that deals with above capacity eviction
![image](https://user-images.githubusercontent.com/4898263/124674442-9788e780-de6f-11eb-9a6e-3eaac999543c.png)

An assumption that it can't happen still needs a test otherwise that

[2021-07-07 09:57] abom commented on #6512
Code samples of this tutorials are working against [0.34.11](https://github.com/tendermint/tendermint/blob/c2908ef785bb5ca6e015910368e4b7a32821b9ff/docs/tutorials/go-built-in.md).

[2021-07-07 10:28] #6661 closed

[2021-07-07 10:59] #5905 closed

[2021-07-07 11:26] #3365 closed

[2021-07-07 12:37] cmwaters opened #6667 "params: MaxTxBytes should be a global consensus param"
## Summary

`MaxTxBytes` is currently a local config subjective to individual nodes. It strikes me as inconsistent that a Tx that is too big for one node could be fine for another node and make it into a block. There may be other fields that are also better suited as a global consensus variable rather than a local one (such as some consensus timeouts)

Ref: https://github.com/tendermint/tendermint

[2021-07-07 14:12] cmwaters commented on #6611
Yeah I think peers should let one another know when they are rejecting a peer because all the connection slots are taken up

Currently we advertise peers to other peers based on score alone but if we could keep track of how many connections a node has then we can better inform peers which peers are better to connect to.

[2021-07-07 15:24] cmwaters commented on #6598
Other than the reactors, what other services will subscribe to the `PeerUpdate`s? I can't see any other use but I might be missing something. Since all reactors use channels and we want to find some way to send peer information **per channel** why not use the `Channel` struct itself as the instrument to sending `PeerUpdates`. The only problem with this is that one reactor might have several channe

[2021-07-07 15:27] cmwaters commented on #6598
If I think about this more, it's odd that we communicate which channels are open but in fact it should be which services are available i.e. `fastsync`, `statesync`, `mempool`. The `NodeInfo` shouldn't really contain which channels a peer has but rather which services it is running. Imagine if a node were to say that is was running the snapshot channel but not the chunk channel (within the state sy

[2021-07-07 16:01] #6663 closed

[2021-07-07 17:09] cmwaters opened #6671 "e2e: light client app query error"
## Problem Definition

There is a non deterministic failure in the **v0.34.x** branch where the light client returns an error when the `Block` RPC call is made. I'm unsure how this occurs as there doesn't seem to be any other errors in the logs.

Error message in e2e tests:
[code]

This was observed in `gen-group00-0011.toml`

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate l

[2021-07-07 18:14] williambanfield opened #6674 "Failed Test: TestBroadcastEvidence_DuplicateVoteEvidence"
Failed [in CI](https://github.com/tendermint/tendermint/pull/6643/checks?check_run_id=3011783187)
[code]
When run locally
[code]

[2021-07-07 18:18] cmwaters commented on #6674
This is also failing for me locally:
[code]

[2021-07-07 18:34] williambanfield opened #6675 "Failed Test: TestReactor_Backfill"
Failed [in CI](https://github.com/tendermint/tendermint/pull/6643/checks?check_run_id=3011900134)
[code]
Appears to be a different failure from #6644

Ran the tests 20 times with ` go test . -test.v -run TestReactor_Backfill -count 20` and reproduced once.

[2021-07-07 18:43] williambanfield commented on #6674
@cmwaters Yeah, on a run of 100, it reproduced 8 times.

[2021-07-07 18:56] williambanfield commented on #6667
I believe we discussed this, but `MaxTxBytes` checked before admission to the mempool, is that correct?

If it is checked before a Tx is admitted to the mempool then what is it generally meant to do? Make sure a single transaction does not overwhelm the mempool?

[2021-07-08 08:19] marbar3778 commented on #6667
correct

Correct. Since we do not make assumptions on how node operators operate, a high level of configuration was provided.

I tend to agree with this reasoning. I think there isn't a large use case for having this on a per-node basis.

[2021-07-08 09:42] #6516 closed

[2021-07-08 10:08] cmwaters commented on #6674
According to git bisect, the failure seems to have been introduced in #6438

[2021-07-08 10:12] cmwaters commented on #6675
Right - I would have introduced this whilst fixing the backfill tests. I wanted to add a test to check for leaky go routines and it seems that occasionally this still fails

[2021-07-08 10:19] marbar3778 commented on #6548
Update here? NodeID was merged but its unknown.

Please use labels and try to add it to a milestone or project board. We aren't the best at this as a team but we should work towards this.

[2021-07-08 10:20] marbar3778 commented on #6520
Are we fine with recommending people use proxies, @cmwaters ?

[2021-07-08 10:36] cmwaters commented on #6520
Sure, I guess so. Do we want to add any documentation/guides to instruct operators what's a good way to set up their RPC server?

[2021-07-08 10:37] marbar3778 commented on #6520
got an issue for it https://github.com/tendermint/tendermint/issues/5704

[2021-07-08 12:01] cmwaters commented on #6572
Hmm you're right. I looked through the code and I can't see a way that this part of the code may be triggered. I think this part was added just as an extra layer of protection. Maybe we can delete it. Wdyt @alexanderbez ?

[2021-07-08 12:43] #6674 closed

[2021-07-08 13:26] #6675 closed

[2021-07-08 15:39] LaPetiteSouris commented on #2742
@kevlubkcm Hi, newbie to project here, I can take a look into this.

A few questions, from the [consensus_state doc](https://docs.tendermint.com/master/rpc/#/Info/consensus_state), the following response is given

[code]

Right now the node only returns those information get from `VoteSet` . What precisely do we want to add in `precommits` and `prevotes` ?

[2021-07-09 12:55] cmwaters commented on #6660
I saw this error again in an e2e test:
[code]

[2021-07-09 14:43] tychoish opened #6690 "e2e: rpc fails to add evidence"
I've seen the following error a few times during e2e runs.

[code]
This failure occurs non deterministically, but I saw it with the following test configuration:
[code]

[2021-07-09 15:02] cmwaters opened #6691 "statesync: late messages after reverse sync causes peer errors"
## Summary

In the e2e testnets, I've noticed the following error:
[code]

It looks like responses for request sent before reverse sync was finished are coming in after reverse sync is finished causing the node to error the peer. This is causing the node to drop a peer which didn't really do no wrong

## Proposal

I'm still not sure how this is happening because the case for late messages has been

[2021-07-09 21:06] JayT106 opened #6693 "statesync: statesync metrics in SyncInfo"
## Summary

add some metrics for statesync in `SyncInfo` RPC call

## Problem Definition

https://github.com/tendermint/tendermint/pull/6620#pullrequestreview-696100403

## Proposal

Which metrics we would like to see?
- the `TotalStateSyncTime`
- the `RemainingStateSyncTime` or the `StateSync stage(or status)` ?
   there are 2 major parts in the state-sync: 1. sync snapshot 2. backfill

____

###

[2021-07-10 00:20] tychoish commented on #6690
Looking through a bunch of test logs, it seems like this error only happens when the `TxSize` is set to 10kb in the tests. Haven't seen it happen in other cases.

[2021-07-12 09:07] cmwaters commented on #6693
You could also argue that there be three parts:
1. Discovering Snapshots
2. Fetching and Loading Chunks
3. Backfilling blocks

Possible candidates for metrics for me would therefore be:
- `amount of snapshots discovered`
- `chunk progress i.e. 5/20 chunks`
- `backfill progress i.e. 40/100 light blocks` (NOTE: that the denominator here would be an estimate)

I'm not sure what granularity of informa

[2021-07-12 09:23] cmwaters commented on #6691
Note that this has been partially resolved here: https://github.com/tendermint/tendermint/pull/6687 where unsolicited light block responses will not be punished

[2021-07-12 12:10] alexanderbez commented on #6691
Looks like we still need to find the root cause, right @cmwaters?

[2021-07-12 12:11] cmwaters commented on #6691
Yup

[2021-07-12 12:37] cmwaters commented on #6690
I haven't yet been able to replicate this locally (using the above manifest) - How often do you see this happening?

[2021-07-12 13:05] tychoish commented on #6690
of my 16 test files, I would see at least one of these failures once per run. I've been saving output of these logs for a week, and when I went back and looked more I coudln't find a run without at least one of these failures.

[mini-testnets.tar.gz](https://github.com/tendermint/tendermint/files/6801550/mini-testnets.tar.gz)

[2021-07-12 14:32] marbar3778 commented on #3653
With the new p2p stack peer stopping is unified to a single location. We have opted to not use the behavior pkg for new reactors and instead rely on the p2p v2.

[2021-07-12 14:32] #3653 closed

[2021-07-12 15:47] williambanfield opened #6695 "fix markdown link check non-429 errors"
This list was generated from the [check markdown link action](https://github.com/tendermint/tendermint/actions/runs/1021230798). I downloaded the results and filtered out the github 429s.

[code]

[2021-07-12 18:37] zmanian opened #6697 "Tracking issue for upstreaming improvements from the LINE fork"
The LINE devs are trying to be innovative in their branch.

They seems to have some improvements that are worth upstreaming.

### Worth Upstreaming

https://github.com/line/ostracon/pull/264

https://github.com/line/ostracon/pull/273

### Consider Upstreaming

https://github.com/line/ostracon/pull/200

### Concurrency changes

They have made changes to the concurrency behavior that have semantic i

[2021-07-12 18:44] alexanderbez commented on #6697
@tychoish you've made changes that are in context re https://github.com/line/ostracon/pull/264.

The WAL PR looks harmless. I'll port that.

[2021-07-12 19:22] tychoish commented on #6697
I think https://github.com/line/ostracon/pull/264 starts from before my change to this function, and I think my version has more linear scaling properties (e.g. my approach to this calls `Data.Size()` n times, with a single transaction in the `Data` object and their patch, adds all transactions to a single `Data` instance and calls `Size` on the one instance n times, which means that you have to e

[2021-07-13 09:18] cmwaters opened #6702 "light: add new providers without needing to re-instantiate"
## Summary

There's an incongruence between the light client model and state sync model. The light clients "peers" are static. It never adds any more once it is instantiated, however the statesync continues to add peers throughout it's lifespan.

## Problem Definition

The problem is that when a node starts, it instantiates the state provider with all the peers it has which is usually a low number

[2021-07-13 09:27] cmwaters commented on #6671
I also see this on **master**

[2021-07-13 09:57] cmwaters opened #6703 "statesync: prevent fetching of negative heights during backfill"
## Summary

Before starting backfill, the state sync reactor will take tendermint state and calculate based from the current height and the evidence age from which heights it will need to fetch and verify across. It then filters that by adding a floor to that range which is the initial height. This is used to stop the node from requesting blocks beyond that height.

However, this is not always the

[2021-07-13 10:05] cmwaters opened #6704 "statesync: reactor hangs in discovery mode without making any progress"
## Summary

I've seen this error for quite some time (both master and v0.34) but it happens very rarely. Essentially a node running state sync starts, request snapshots (every 5 seconds) but never receives a snapshot and essentially hangs until the testnet times out.

Here is an example of the logs:
[code]

and the testnet manifest

[code]

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ]

[2021-07-13 10:28] cmwaters opened #6705 "e2e/p2p: network churn after validator restarts"
## Problem Definition

In the e2e nightlies, I observed that a validator restarts and whilst trying to recover goes through a large amount of connection churn such that the validator isn't able to make any progress and times out

Here are some logs:
[code]

testnet manifest:

[code]

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors

[2021-07-13 10:31] cmwaters commented on #6705
I'm not too sure if this is related somehow but I also notice a lot of
[code]
from validators 1, 3, 4, and 7

[2021-07-13 11:01] RiccardoM opened #6706 "Large genesis makes node crash"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):
`v0.34.11`

**ABCI app** (name for built-in, URL for self-written if it's publicly available):
Cosmos SDK `v0.42.7`

**What happened**:
Querying a large genesis file (~ 60 MB) makes the node crash with the following error:
[code]

**What you expected to happen**:
The genesis is returned pro

[2021-07-13 11:14] cmwaters commented on #6706
Thanks for writing up the issue. @marbar3778 also reported a similar issue (#6354) when trying to query a large genesis. We decided to resolve this by introducing a new rpc endpoint which chunks the genesis (#6445). This will be introduced in v0.35.

[2021-07-13 11:37] RiccardoM commented on #6706
@cmwaters Thanks. Is it possible to backport this to the `v0.34.x` series?

[2021-07-13 12:40] cmwaters commented on #6706
Yup we can try look into doing that

[2021-07-13 12:52] mconcat opened #6710 "Vote extension planning proposal"
I propose using the following structure for the ABCI++ implementation of vote extensions
- [x] PR 1 #6646 - Update vote struct definitions, and ABCI proto definition boilerplates for Vote Extensions. The rationale here is that will be a several thousand line change, that would be best separated from the logical changes in review.
- [x] PR 2 https://github.com/sikkatech/tendermint/pull/35 - Make su

[2021-07-13 12:55] tessr commented on #5838
Per @alexanderbez, this is:

* something validators might do in theory but hasn't been seen in practice
* something we should keep thinking about for a pre-1.0 release but doesn't block v0.35

I'm going to move this off the 0.35 milestone and we can come back to it after we get that release out.

[2021-07-13 13:12] alexanderbez commented on #3905
I've gone through this issue's comments in detail from top down and there's a lot to digest here. My general sense of things is the following:

1. Throughput and block production performance is highly dependent on (a) number of validators and (b) hardware/resources. The more validators or poor hardware, the slower the throughput and block production performance decreases.
2. Networking and Go's in

[2021-07-13 13:35] alexanderbez commented on #6702
Didn't we have discussions to avoid using the light client altogether and rely solely on p2p?

[2021-07-13 13:39] alexanderbez commented on #6704
This could be due to any number of reasons...poor peer connectivity, peers don't have snapshots, timeouts being hit, etc...

[2021-07-13 13:40] alexanderbez commented on #6705
I don't think the endpoint should be empty and we also should not be trying to connect to someone we are already connected to :-/

[2021-07-13 14:03] cmwaters commented on #6704
Yeah it's quite hard to replicate which is annoying but I will need to try collapse the scope of the problem further to try work out what exactly is going wrong. When I've added logs it has seemed to me that the other peers are getting the snapshot request message and they are advertising their snapshots but then the node that requested them is never receiving them (even after a couple of minutes)

[2021-07-13 14:36] #6703 closed

[2021-07-13 15:04] alexanderbez commented on #3546
I don't think there is a clean solution here apart from modifying `ResponseCheckTx.Log`.

cc @tessr

[2021-07-13 15:09] ValarDragon commented on #6232
This is not at all a significant issue, nor really relevant to osmosis / gaia imo beyond a general desire to safely allow for larger mempools.

This is something that came up as a side-idea on one of the ABCI++ calls.

[2021-07-13 15:42] williambanfield opened #6711 "Test Failure: TestDispatcherReturnsNoBlock"
[code]

[2021-07-13 17:37] williambanfield commented on #6671
Which test net did you observer this in?

[2021-07-13 18:46] alexanderbez commented on #6704
Yeah good idea, let's leave this as an open-ended tracking issue for now.

[2021-07-14 06:11] shravanshetty1 opened #6716 "Get a list of peers a node is connected to"
## Summary

Would like someway to get a list of a peers a node is connected to - address book

## Problem Definition

Currently abci application clients have no way of discovering new nodes automatically. They usually just connect to one node hardcoded in the application. Would like to have a way in which clients can get a list of peers from a node, this way client can connect to multiple nodes an

[2021-07-14 08:51] marbar3778 opened #6718 "grpc: deprecate grpc in the rpc layer"
## Summary

Tendermint supports both grpc and jsonRPC at the rpc layer. The gRPC part is less known and only supports tx submission. Should we mark it as deprecated in 0.35 and remove it in 0.36 in order to converge on a single supported RPC standard?

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assign

[2021-07-14 09:15] marbar3778 commented on #6695
Some of the above links work but show up as 400 or 404, like:
https://github.com/tendermint/spec/blob/master/rfc/004-abci%2B%2B.md
https://github.com/tendermint/spec/blob/master/spec/consensus/light-client/accountability.md

[2021-07-14 09:23] #6706 closed

[2021-07-14 09:33] marbar3778 opened #6721 "rpc: add chunked genesis to openapi"
## Summary

Add rpc documentation for chunked genesis to the openapi.yml file.
____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-07-14 09:36] marbar3778 commented on #6716
Hey, tendermint nodes do connect to more peers than which are in the config.tom. This is part of the PEX (peer exchange). As for a rpc endpoint, you can use net info https://docs.tendermint.com/master/rpc/#/Info/net_info. The provides you with address book information.

[2021-07-14 09:36] #6716 closed

[2021-07-14 10:33] shravanshetty1 commented on #6716
@marbar3778 Thank you, this works for my usecase. None of the https://rpc.cosmos.network/net_info peers accept http requests since they are private. I could add a peer filter func in my application to filter nodes that dont accept ping requests proving they are private.

[2021-07-14 12:56] alexanderbez commented on #6718
ACK

[2021-07-14 12:58] williambanfield commented on #6695
@marbar3778 the light client accountability seems to be 404'ing because the markdown link contains the paired parenthesis.
https://github.com/tendermint/tendermint/blame/822893615564cb20b002dd5cf3b42b8d364cb7d9/docs/architecture/adr-047-handling-evidence-from-light-client.md#L182

[2021-07-14 13:07] marbar3778 commented on #6695
fixed, thanks for the pointer

[2021-07-14 13:08] marbar3778 commented on #6721
also the feature needs a changelog entry

[2021-07-14 14:13] cmwaters commented on #6705
[code]
Just worked out that this is always empty so I think this has something to do with the way we're logging it rather than it being an error

[2021-07-14 14:15] MDRezaulHasan commented on #4003
Hi I have an error "**ERROR: error in config file: unknown mode: node**" when I am trying to run **tendermint init validator**. Can anyone help me for solving this issue?

[2021-07-14 14:16] tessr commented on #4003
@MDRezaulHasan can you open a new issue and fill out the issue template, please?

[2021-07-14 14:18] marbar3778 commented on #4003
you must be using master or a branch that doesnt default this. try tendermint init --mode validator

[2021-07-14 14:19] MDRezaulHasan commented on #4003
@tessr sure, I will open a new issue.

[2021-07-14 14:22] MDRezaulHasan commented on #4003
@marbar3778 , It is not working

[2021-07-14 14:31] #6695 closed

[2021-07-14 14:40] #6711 closed

[2021-07-14 14:41] MDRezaulHasan commented on #4003
tendermint version: unreleased-master-76c6c677341a2d1634c570e7d4ac14046f26bcdc

[2021-07-14 17:35] tychoish commented on #6705
I've seen this intermittently for a long time, and I made a change a while ago to randomize dialing, which was supposed to help address some of this problem https://github.com/tendermint/tendermint/commit/e9928f6186771e3628620246dd48a850052ed4ea (there was this thing where peers would dial each other, and both connections would end up getting in the way of each other resulting in stranded peers, a

[2021-07-14 18:35] alexanderbez commented on #6705
Option (1) seems like the more pragmatic approach IMO

[2021-07-15 07:08] cmwaters commented on #6660
I saw this another time. It seems to actually be coming from the clist when `NextWaitChan()` is called. But the actual line is where the mutex gets called which is weird. How does that become nil?

[2021-07-15 13:58] cmwaters commented on #6671
This occurred in the nighties on `new/gen-group01-0023.toml`

[2021-07-15 14:33] alexanderbez commented on #6660
Thanks for sharing @cmwaters -- looking into this now.

[2021-07-15 14:38] alexanderbez commented on #6660
So there is no way the mutex would be nil -- this stacktace tells me the actual `*CElement` itself is nil, which should not happen.

[2021-07-15 14:55] alexanderbez commented on #6660
I don't see how this is possible. My hunch tells me maybe https://github.com/tendermint/tendermint/pull/6626 is related. That PR was merged _after_ we first discovered this issue so that leads me to believe it could very well be the culprit.

/cc @JayT106

[2021-07-15 15:27] marbar3778 commented on #6667
Was briefly thinking about this and is this parameter actually something we need? Its meant as more of a ddos prevention mechanism, but can we rely on the application to not allow large txs through checktx?

[2021-07-15 19:38] williambanfield commented on #6660
Worth noting that in the logs linked in the original comment this happens multiple times in a row:
[code]

[2021-07-15 22:05] #6718 closed

[2021-07-16 07:53] romac opened #6729 "Tendermint emits events over WebSocket faster than any clients can pull them if tx includes many events"
**Tendermint version**: 0.34.9 (Gaia v4.2.1)

**ABCI app**: N/A

**Environment**:
- **OS**: macOS 11.4 x86-64 (first noticed on a Linux machine)
- **Install tools**:
  - http://rustup.rs
  - https://github.com/websockets/wscat
- **Others**:

**What happened**:

When a tx includes more than 100 events, Tendermint will emit these events faster than any WebSocket client can pull them, and will end up

[2021-07-16 09:25] marbar3778 commented on #6569
My proposal here would be to drop the current secret handshake in the post 0.35 world and adopt noise.

[2021-07-16 12:20] cmwaters commented on #6702
Using p2p will still use the light client. The light client should be seen as more the verification method whereas p2p and rpc are the means with which the necessary information to verify is acquired

[2021-07-16 12:21] cmwaters commented on #6690
Are we still seeing this error or can the issue be closed?

[2021-07-16 14:03] tychoish commented on #6690
I think that https://github.com/tendermint/tendermint/commit/36a859ae545d178756e7ca25582e79ac4526f328 addresses this.

[2021-07-16 14:03] #6690 closed

[2021-07-16 17:54] tessr commented on #6660
@williambanfield - you want to do the reversion and then see if it improves?

[2021-07-16 19:01] williambanfield commented on #5662
It looks like [marko suggested moving all ints to uints](https://github.com/tendermint/tendermint/issues/2684#issuecomment-727906508). Would we need to do both of these changes?

Also, is there an example of the overflow checking we're considering currently in the codebase? cc @marbar3778

[2021-07-18 01:49] alexanderbez commented on #6671
I would recommend logging the response headers and setting `Close = true` on the request.

[2021-07-18 02:02] alexanderbez commented on #6667
I understand the intuition @cmwaters and my suspicion is that 99.9% of operators do not touch this configuration. Note, we already have `MaxBytes` in the consensus params, which caps the block size.

Note, @marbar3778 we check the config's `MaxTxBytes` _before_ we execute the application's `CheckTx`, having the application check it in `CheckTx` would add just a bit of overhead and don't address th

[2021-07-18 02:11] alexanderbez commented on #6729
Thanks for posting this issue @romac. Perhaps we simply increase the buffer for now. If you consider the case where every tx has multiple messages and both BeginBlock and EndBlock emit a relatively significant amount of events, you'd still be looking at only a few hundred at most, right? We could also consider not having a buffered channel at all.

[2021-07-18 02:19] alexanderbez commented on #6660
We have two options:

1. Change default or explicitly use `v0` and see if the issue happens again. If so, we know it's 100% #6626 for sure.
2. Revert #6626 and see if the issue happens again. Also gives us a lot of confident, but we can't say 100% for sure it's #6626.

[2021-07-18 22:19] liamsi commented on #5704
While at it, wouldn't it make sense to have a similar config for general TCP/udp streams? This could be a simple alternative to the sentry infra. Although it is by far not as defensive, it would much simpler than the sentry infra if I'm not mistaken. Parity went down the route of deprecating sentries completely in favour of this approach AFAIK: https://github.com/paritytech/substrate/issues/6845

[2021-07-19 13:26] JayT106 commented on #6660
looks like it had been reverted.  But I agree the issue may relate to my PR. I will fix it if the PR causes the nil pointer to happen.

[2021-07-19 14:08] alexanderbez commented on #5704
@marbar3778 could you mention why one would want a proxy in front of their RPC nodes please? e.g. rate limiting, route allow/deny lists, etc...

What does this mean @liamsi? What are TCP configs?

[2021-07-19 14:16] alexanderbez commented on #6660
Thank you @JayT106 🙏

[2021-07-19 14:26] alexanderbez commented on #3546
Consensus was to add a new field in `ResponseCheckTx` to indicate any Tendermint internal failures.

/cc @williambanfield

[2021-07-19 15:09] liamsi commented on #5704
https://docs.nginx.com/nginx/admin-guide/load-balancer/tcp-udp-load-balancer/

My relatively basic understanding here is that instead of putting several sentries in front of the validator, you'd basically put a reverse proxy in front of the validator for load balancing. [This](https://github.com/w3f/polkadot-validator-setup#structure) has a tiny bit more info. But as mentioned, this is very differ

[2021-07-19 16:12] alexanderbez commented on #5704
Ah yes, the only problem with a LB is that if you have multiple nodes behind the LB, client's can get conflicting views of data (e.g. if one or more nodes is lagging behind). This is analogous to not reading your writes. I wonder if nginx can handle this somehow?

[2021-07-19 19:54] #6369 closed

[2021-07-19 22:07] williambanfield commented on #3546
👋 I'm trying to understand how modifying the `ResponseCheckTx` message will ultimately deliver news of the failure to the application. This message is delivered to the node from the application if not mistaken. How will the new error message eventually been seen by the app? @alexanderbez would you be able to give me some explanation on that?

[2021-07-20 01:27] JayT106 opened #6738 "state/privval: error adding vote (invalid signature) when continuing shutdown/start the node services."
Tendermint version: 0.34.11
ABCI app: N/A
Environment:
    OS: macOS 11.4 x86-64

What happened:
When looking at the issue https://github.com/tharsis/ethermint/issues/140,

we found the issue occasionally happens due to shutdown/restart the local testnet (2 or 3 nodes) frequently.
Once the issue happens, the chain was halted and cannot be recovered.

This is part of logs when we're debugging the i

[2021-07-20 12:04] alexanderbez commented on #6660
Closing this issue since we reverted #6626. If we see this again, we can re-open.

[2021-07-20 12:04] #6660 closed

[2021-07-20 12:14] alexanderbez commented on #3546
Correct, the application response to CheckTx with a `ResponseCheckTx`. I can see how this is confusing. When a client broadcasts a tx, in this case the mode would have to be `sync` or `commit` (not advised), Tendermint will call, in the case of `sync`, the following code: https://github.com/tendermint/tendermint/blob/master/rpc/core/mempool.go#L35. Note, it calls `CheckTx` on the mempool and waits

[2021-07-20 13:46] williambanfield commented on #6667
I would be in favor of removing this parameter and choosing a fine default. In general, I think the [no knobs])https://github.com/mongodb/specifications#no-knobs) approach is a good one for cases like this. It's unlikely a user will know how to pick a good value and it makes running the software more confusing than it likely needs to be?

[2021-07-20 13:58] cmwaters commented on #6667
After thinking about it some more, I've sort of walked back on what was initially proposed. I guess I was coming from a position where having every individual node set their own max Tx bytes seemed inconsistent and generally unhelpful. The idea of making this a consensus param was thought of as more of a way to signal one consistent value across the network. But in order for this to be of any use

[2021-07-20 14:12] williambanfield commented on #3546
Ahh, thanks for the info. I think I'm understanding but to clarify: This response is eventually communicated up to the _client_. So, a client sends a Tx to a TM node. The node does its Tx checks and then makes a request into the ABCI app and gets a response. TM then does additional checks using data contained in the ABCI response. The response from the ABCI app is then returned to the _client_, re

[2021-07-20 14:13] alexanderbez commented on #6667
I would either opt for removing it entirely or just keeping it as-is. @tessr or @marbar3778 are you familiar with any projects that rely on this?

[2021-07-20 14:59] thanethomson commented on #6729
Would it not perhaps make sense to make this parameter configurable? It seems like a tuning parameter to me.

[2021-07-20 15:24] #5943 closed

[2021-07-20 15:24] cmwaters commented on #5943
Lol teamwork

[2021-07-20 15:36] #2498 closed

[2021-07-20 15:42] cmwaters opened #6741 "mempool: panic re-CheckTx transaction mismatch"
## Summary

Witnessed this in an [e2e test](https://github.com/tendermint/tendermint/runs/3110014898?check_suite_focus=true):

[code]

Node's manifest:

[code]

Testnet: `gen-group00-0005.toml`

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-07-20 18:27] tychoish commented on #6705
I was doing a bunch of testing of these factors and I couldn't get better test outcomes from making dialing slower, but we can try again, now that the test goalposts have moved a bit.

[2021-07-20 18:56] alexanderbez commented on #3546
Correct!

Correct again.

Yes, the information here is being communicated back to the client, i.e. user, that broadcasted the tx, not the application.

[2021-07-20 18:57] alexanderbez commented on #6729
Yes, good idea @thanethomson. Perhaps via the API of creating a websocket subscription?

[2021-07-20 18:59] alexanderbez commented on #6741
This is a duplicate @cmwaters. I can't seem to find the issue, but it has to do with the fact that gRPC is used for the communication. We resolved this issue for in-process clients. So this is a known bug for gRPC.

[2021-07-20 20:35] thanethomson commented on #6729
Not sure where the best place is to configure it in the server API, but I'd imagine we'd want a configuration parameter in the `[rpc]` section of the Tendermint `config.toml` file that we can configure.

[2021-07-21 19:54] JayT106 commented on #6539
@fedekunze any updates for the ADR?

[2021-07-22 00:06] #6219 closed

[2021-07-22 13:00] cmwaters commented on #6660
I saw this again in the e2e test last night:
[code]
Pretty much the same error AFAICS
Here's a link to the test (although I think this expires after a while):
https://pipelines.actions.githubusercontent.com/KyLXqUW5FXEommX1jskveX9BQo621QMUbAS3HHgRXLqddPVNkV/_apis/pipelines/1/runs/43176/signedlogcontent/5?urlExpires=2021-07-22T12%3A52%3A29.4476355Z&urlSigningMethod=HMACV1&urlSignature=26%2Fia6NFaL%

[2021-07-22 13:37] alexanderbez commented on #6660
![image](https://user-images.githubusercontent.com/5265989/126648163-1ec267ee-86c4-4de3-838e-566a1f78ec86.png)

Can we enable `v0` in addition to `v1` and see if we catch the same issue on `v0`? If not, then we'll have to painfully grok the `v1` concurrency :-/

[2021-07-22 14:10] cmwaters opened #6750 "e2e: use v0 and v1 mempool implementations"
Source: https://github.com/tendermint/tendermint/issues/6660#issuecomment-884919226

So long as we are supporting v0, it makes sense to also be testing it in the e2e

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-07-22 14:42] cmwaters opened #6751 "blockchain: rename to blocksync"
## Summary

I know that this is totally bike shedding. But given that we've already changed the path in this release, I figured why not rename it.

I put this idea forward in a previous issue (https://github.com/tendermint/tendermint/issues/4594) but basically, I find, in the context of the blockchain space, calling a package blockchain is way too vague. At first I thought we should rename this to

[2021-07-22 14:56] cmwaters commented on #6741
Do you mean this issue https://github.com/tendermint/tendermint/issues/5519?

[2021-07-22 15:06] alexanderbez commented on #6741
Actually https://github.com/tendermint/tendermint/issues/5439, which is closed. We should re-open that and close this one.

[2021-07-22 15:15] cmwaters commented on #5439
Reopening this due to another panic that was seen (ref: https://github.com/tendermint/tendermint/issues/6741)

[2021-07-22 15:16] cmwaters commented on #6741
Do we want to disable grpc in e2e again? @alexanderbez

[2021-07-22 15:16] #6741 closed

[2021-07-22 15:40] alexanderbez commented on #6741
Yes IMO

[2021-07-22 15:59] #6750 closed

[2021-07-22 16:18] cmwaters opened #6753 "blockstore: distinguish between two types of base heights"
## Summary

Taken from https://github.com/tendermint/tendermint/pull/6463

## Problem Definition

The base of the blockstore might be full of light blocks not complete blocks. Depending on the use case, some callers of the block store might want to know where the real blocks start and others might want to know where the light blocks start

## Proposal

Create a new method `LightBlockBase()` which

[2021-07-22 21:35] williambanfield commented on #6705
This log snippet shows similar behavior: [gist](https://gist.github.com/williambanfield/36da25fc2b45e3cfcb0bf95fb3b7dd3c).

A summary of those logs is as follows:

Validator02 and Validator04 start
Validator02 and validator04 connect
Validator02 stops
Validator04 shuts down the `MConnection`, never disconnects from the peer in the `
validator02 starts again
Validator02 tries to dial validator04
Va

[2021-07-23 09:29] cmwaters commented on #6705
Nice writeup. I've been digging through this this morning. If for example there was a pong timeout because validator02 was down then we should hit this line in `MConnection`
https://github.com/tendermint/tendermint/blob/0e2752ae42208a8becdb95dba6ebcb105c4398f1/internal/p2p/conn/connection.go#L457-L460
and therefore:
https://github.com/tendermint/tendermint/blob/0e2752ae42208a8becdb95dba6ebcb105c43

[2021-07-23 11:59] alexanderbez commented on #6705
Excellent writeup @cmwaters and spot on. From what I can see, the issue is the following:

The problem is, the router will never hit this unless it tries to _send_ or _receive_ a message to/from that disconnected peer. I think we need to dig through the `Switch` code to see how the legacy stack handles this.

[2021-07-23 12:00] tessr commented on #6200
@williambanfield I saw this back in your onboarding doc - did you decide to tackle it?

[2021-07-23 12:23] cmwaters commented on #6705
But isn't the router constantly trying to receive from the peer

[2021-07-23 12:36] alexanderbez commented on #6705
Well since the restarting node restarted, the lively node won't receive anything from it anymore. It _may_ try to send something though. If it never does send anything ever again, then I don't think it'll ever receive an error and thus disconnect.

[2021-07-23 14:37] williambanfield commented on #6200
@tessr not currently. I've been more focused on the other work you sent, namely removing mocks and providing occasional hands in the e2e tests. Happy to switch over if this seems more pressing.

[2021-07-23 16:50] JayT106 opened #6758 "statesync/indexer: be able to query the historical transaction/block events"
## Summary

Allows the client to query the historical transaction/block events even the blockchain node starts with the statesync

## Problem Definition

The statesync provides a good solution for starting the blockchain service without sync whole network data from scratch. In the production networks, it could take few hours even days to catch the current network height and to start the transactio

[2021-07-23 17:02] ValarDragon opened #6759 "Validate unconditional_peer_ids prior to establishing connection to app"
Unconditional peer ids get validated after InitChain runs. So if theres an error in the unconditional peer ID config, you only find out after InitChain terminates, which can take a potentially very long time. (In what I'm testing right now, ~45 minutes)

It'd be ideal if these (and generally other config parameters) could get validated before InitChain runs, so you can find out rather quickly.

**

[2021-07-24 00:07] #6553 closed

[2021-07-24 13:53] yihuang commented on #1319
https://iohk.io/en/research/library/papers/mithrilstake-based-threshold-multisignatures/
Is this a good fit, a staked weighted threshold multisignatures? haven't investigated the details though.

[2021-07-25 22:05] tessr commented on #6200
No problem at all - I actually was thinking of making it part of Michael's onboarding, but didn't want to get any wires crossed!

[2021-07-26 07:46] cmwaters commented on #6548
@tychoish Is this issue still relevant?

[2021-07-26 08:17] marbar3778 commented on #5475
@RiccardoM have you run into this issue again?

[2021-07-26 08:19] cmwaters opened #6761 "p2p: add tests for the priority queue"
## Summary

The priority queue, which will be the default queue mechanism for 0.35 is currently under-tested. We should look to tighten it up with more unit tests.

We also use (by default), "fifo" queues in the router tests. We might want to consider running tests for all queue types.

## Proposal

Some work is already underway in this PR: https://github.com/tendermint/tendermint/pull/6760

____

[2021-07-26 08:24] cmwaters commented on #6759
Make sense. AFAICS, in `master`, we do check all peers in the config file upon initialisation (i.e. before `InitChain` is run):
https://github.com/tendermint/tendermint/blob/c3ae6f5b58e07b29c62bfdc5715b6bf8ae5ee951/node/setup.go#L504-L512

[2021-07-26 08:25] RiccardoM commented on #5475
Not recently, no

[2021-07-26 08:26] cmwaters commented on #6759
As a side question, what happened to `UnconditionalPeerIDs` @alexanderbez? Is this being deprecated in the new P2Pstack:
https://github.com/tendermint/tendermint/blob/c3ae6f5b58e07b29c62bfdc5715b6bf8ae5ee951/config/config.go#L661

[2021-07-26 09:31] cmwaters opened #6763 "evidence: emit events on validating new evidence"
## Summary

We emit events when evidence gets committed on chain but in adverse conditions this is not always guaranteed. Given that most severe attacks will be with greater than 1/3 of the network power, it is highly likely that the cabal will censor the evidence until it becomes expired. Until we build better mechanisms for resisting such censorship, the evidence reactor should also emit events

[2021-07-26 12:28] alexanderbez commented on #6758
To be honest, and what I always tell people, is if you want to index the entire chain then you should run your application from genesis. Yes, I know this would take days or even weeks, but generally it's just the cleanest approach. If you want all the data indexed, then don't use or rely on state-sync.

Yes, of course we could even further expand the state-sync protocol, but I wonder if the additi

[2021-07-26 12:35] #3546 closed

[2021-07-26 12:57] alexanderbez commented on #6759
Great question @cmwaters. We currently don't have support for this in the new stack. We support persistent peers. I don't know if we want to support unconditional, but if we do, it'll be in the `peermanager.go`.

What do folks think?

[2021-07-26 12:59] marbar3778 commented on #6759
are persistent peers in the new stack considered connections outside of max allowed connections? If so, we dont need it, if not then we would need it cause the previous issue, for why this was introduced will come back.

[2021-07-26 13:01] cmwaters commented on #6759
In terms of the amount of connections they are considered the same as any other peer

[2021-07-26 13:05] cmwaters commented on #6758
When writing up the initial RFC for reverse sync, it was planned to be able to fetch all block data right back to genesis. But the scope was gradually cut down to retrieving the necessary data for evidence handling. A large reason for that was that nodes could just start a full node from genesis if they really wanted to become an archive node.

I wonder however if there becomes a point where the c

[2021-07-26 13:11] alexanderbez commented on #6759
This is currently where we have the logic for dialing a next peer: https://github.com/tendermint/tendermint/blob/master/internal/p2p/peermanager.go#L468

[2021-07-26 13:13] alexanderbez commented on #6758
ACK. If it doesn't add much complexity, I would say this is currently a "nice-to-have".

[2021-07-26 13:48] marbar3778 commented on #6759
not sure the issue, but I can describe it.

When a validator lost connection to a sentry, the sentry may fill its spot in its addrbook. When the validator try to reconnect it can not because the sentry has a full addrbook. unconditional peers allows users to set a peer to connect, even if the sentry's addrbook is full.

[2021-07-26 13:53] cmwaters commented on #6759
In the new implementation, if the user sets up `MaxConnectedUpgrade` as non zero, then if the validator loses connection to it's sentry and then tries to dial again, it will get accepted and a currently connected peer that is lower scored will get kicked out.

[2021-07-26 13:54] marbar3778 commented on #6759
is this documented? want to update the how to run a validator page?

[2021-07-26 13:55] cmwaters commented on #6759
I don't think so. I'll check and if not I will update it

[2021-07-26 14:01] cmwaters commented on #6759
It seems `MaxConnectedUpgrade` is hardcoded to 4. I don't know if we want to make that configurable or not

[2021-07-26 14:18] JayT106 commented on #6758
@yihuang, What do you think?

[2021-07-26 14:51] williambanfield opened #6766 "TestBlockEvents and TestBlockEvents Fail"
Listing these together in case failure to create a network connection is the cause of both issues.

[code]

[2021-07-26 15:16] cmwaters commented on #6759
Going back to the issue at hand. It seems like we run the `Handshake()` with the application before initialising the peer manager which is the reason why we don't get these errors till afterwards. We do all this potential computation with replaying blocks in the constructor. I'm not sure if we want to move that logic to `OnStart()` because application state might diverge in between starting and st

[2021-07-26 15:30] yihuang commented on #6758
Yeah, I think it's a "nice-to-have" too, not a blocker for us right now, it's just as the chain grows bigger and bigger, it'll be nicer and nicer to have ;D
The main UX difference with this feature is syncing in the background, one can setup a node and provide chain state very quickly, while gradually recover the ability to query historical transaction states. Definitely very useful, especially wh

[2021-07-26 15:48] JayT106 commented on #6758
Right, so my proposal is a faster consensus switch, and the backend process the historical data later. It needs another reactor to deal with it (but can be shut down when finishing the data sync).

@cmwaters 's option is doing a snapshot at a certain point, then sync block here, and then start the consensus later(it might still take a while to start the consensus). And it's easier to implement it

[2021-07-26 18:12] williambanfield opened #6769 "TestByzantinePrevoteEquivocation timeout"
Logs linked [here](https://gist.github.com/williambanfield/6f89bccf3538ee4c177b30dcceaa10f8).

[2021-07-26 19:57] alexanderbez commented on #6759
Doing this in the constructor makes zero sense. Constructors should be as lightweight as possible, so I agree we should move this to `OnStart()`.

[2021-07-27 13:17] alexanderbez commented on #6660
Ok so I think the issue is following, and this only pertains to `v1`:

In `v1`, we have an extra level of abstraction, `*WrappedTx`, which wraps a raw tx amongst other very useful things. The mempool data structure uses this abstraction type as the primary type it stores in various indexes.

In the mempool data structure we call `removeTx` which does the following: https://github.com/tendermint/te

[2021-07-27 15:58] williambanfield commented on #6660
@alexanderbez If it's a race between the `removeTx` call and the broadcast routine, I think we could write a test that reproduces this behavior. It would be nondeterministic, but if we ran it enough times we should see the panic. The test would attempt to run this piece of the broadcast routine: https://github.com/tendermint/tendermint/blob/master/internal/mempool/v1/reactor.go#L329-L404 at the sa

[2021-07-27 16:59] #5999 closed

[2021-07-27 18:40] alexanderbez commented on #6660
It's worth a shot!

I also pushed https://github.com/tendermint/tendermint/pull/6771 in hopes that it might help. It's pretty much very similar to v0 now.

[2021-07-28 10:21] cmwaters opened #6774 "statesync: syncing a second time"
## Summary

If a node has state sync enabled and crashes (or the operator just wants to restart the node), the node will try to state sync again. If there's only been hundred blocks in the interim, it would be far better just to block sync. Worse than that, the block/state store will have this gap in blocks (i.e. it will have blocks 100 - 200 and form 300 onwards) which could lead to some undesira

[2021-07-28 10:35] cmwaters opened #6775 "node: seed mode should have a different concrete struct"
## Summary

Currently, a seed node uses the same struct as a full node or validator. However, seed nodes use such a small fraction of the services that I don't believe justifies using the same struct. Instead it causes the methods to have numerous conditional statements (if `mode != seed` then do this) and leaves many fields as `nil` which could have unknown consequences. Since these concrete type

[2021-07-28 12:41] alexanderbez commented on #6774
How would the implementation look like? Would the `Node` check if existing state exists, and if so not run state sync? How do we know it's the "initial" state and what does that mean?

[2021-07-28 12:41] alexanderbez commented on #6775
ACK

[2021-07-28 12:44] marbar3778 commented on #6775
LGTM

[2021-07-28 12:47] cmwaters commented on #6774
Exactly. The node would load state from the stateStore. If it doesn't exist (because this is the first time running the node), it would run state sync. If it did exist it would perform a handshake with the application and then start block sync / consensus from there.

[2021-07-28 12:52] alexanderbez commented on #6774
Yeah I think this is a reasonable thing to do for now 👍

[2021-07-28 15:25] #6751 closed

[2021-07-28 15:31] cmwaters commented on #4594
Closing due to https://github.com/tendermint/tendermint/pull/6755

[2021-07-28 15:31] #4594 closed

[2021-07-28 18:11] williambanfield opened #6779 "TestClientIntegration_Update Fail"
[code]

[2021-07-28 18:16] cmwaters commented on #6779
Lol.

To help debug this do you mind trying to capture the light client logs when this fails and posting them here?

[2021-07-28 18:20] #6721 closed

[2021-07-28 18:24] williambanfield commented on #6779
[code]

[2021-07-28 18:26] JayT106 commented on #6693
@alexanderbez would it be okay to assign this issue to me? In case I forgot to implement it. Thanks!

[2021-07-28 18:28] cmwaters commented on #6779
Missing commit!? That's strange

[2021-07-28 18:41] creachadair opened #6780 "Possible errors of intention in case-clause breaks"
In the course of some other changes, I recently ran the [staticcheck](https://staticcheck.io) tool over the repository. Among other things, it reported a number of violations of rule SA4011 ("ineffective break statement").

This rule flags a common error of intention in Go, in which a `break` inside a `switch` or `select` case may be intended to break out of an enclosing loop, but in effect only t

[2021-07-28 18:45] alexanderbez commented on #6693
Yes, please and thank you @JayT106 :)

[2021-07-28 19:38] #6479 closed

[2021-07-28 21:36] williambanfield commented on #6779
I added a lot of print statements along the way and traced the issue down to this line:
https://github.com/tendermint/tendermint/blob/b86acbbeabd345986dee36b4bf823b3fec8c609a/store/store.go#L266

This means we are getting nothing from the blockstore data base. I do no yet know why this could happen. @cmwaters , any thoughts?

[2021-07-28 21:41] cmwaters commented on #6779
Ah yes, I know what's going wrong. Will look at it tomorrow

[2021-07-29 09:58] cmwaters commented on #6758
I agree that this becomes nicer to have as chains grow bigger and bigger which will certainly be the case with soft upgrades. I would still hold out on doing any major work for at least another year as there's definitely a few workarounds that people can do to get more historical data.

When it comes to the actual implementation, from my assessment, we would want to house this backend process with

[2021-07-29 10:52] #6738 closed

[2021-07-29 19:19] creachadair opened #6784 "Audit use of panics and document conventions for their use"
Issue #4465 advocates removing uses of `panic` for error handling. To do that, we first have to understand how and where panics are used in the codebase. The goals of this issue are to categorize our existing use of panics, to decide and document conventions for how we want to use them, and to track fixing existing use to match those conventions.

Panic differs from other language and library func

[2021-07-30 02:28] #6780 closed

[2021-07-30 13:38] marbar3778 commented on #5681
I'll be the one to say it.

Let's remove v2. We can focus on v0 and look into a simplification of v0 if need be.

[2021-07-30 15:37] #6779 closed

[2021-07-30 16:57] marbar3778 commented on #6392
we could test this now to get a rough estimate of the duration.

[2021-07-30 20:28] alexanderbez commented on #5681
I support that. Unless someone really wants to take ownership and gain domain expertise over v2, I say we should be OK with removing it.

[2021-07-30 21:34] williambanfield commented on #6775
Strongly agree with this!

[2021-07-31 16:45] faddat commented on #6775
Can someone please eli5 for me:

what is different between a seed node and a full node?

thank you

[2021-07-31 19:32] creachadair commented on #5662
I'd like to better understand the intended scope of this issue.

Many of the integral operations performed by a program (e.g., loop and slice indexing, allocation sizes, etc.) are already checked by the runtime. Even if we _could_ check those, there is probably not much to be gained by doing so.

Are there more specific contexts in which we're concerned about overflow conditions, e.g., during tran

[2021-07-31 21:44] alexanderbez commented on #6775
@faddat, the Tl;DR is the idea that a seed node runs the PEX reactor only, and thus is responsible for peer exchange only to support a strongly connected p2p topology. A full node, on the other hands, is a node that runs all the reactors, i.e it can participate in consensus, serve query requests, etc...

[2021-08-02 15:30] williambanfield commented on #6660
Ran the test I added in #6772 with the race detector. Before the change that @alexanderbez made in #6771, the test reported a race condition. On the latest master with the change made, the test no longer reports a race. Snippet of test run with some logs removed for brevity:

[code]

[2021-08-03 05:27] RiccardoM commented on #5475
@marbar3778 @melekes This happened again today. I was able to run `tendermint debug kill` and get the dump of the state.

However, I noticed that the node did not halt completely. Instead, it continued working properly and it appears that only the RPC/gRPC stopped responding for some reason. I noticed this because I saw that our parser stopped working but the node was syncing normally looking at i

[2021-08-04 10:04] cmwaters opened #6793 "statesync: retry semantics"
## Summary

State sync is written as a continual process that will try to send new snapshots and chunks without relent until either a context is cancelled, times out or the application decides to abort.

Slightly contrary to this is that the application in the e2e tests will panic if it is delivered a second snapshot. Whilst we don't want multiple snapshots to be delivered to an application concur

[2021-08-05 20:17] tychoish commented on #6548
This work is complete

[2021-08-05 20:17] #6548 closed

[2021-08-06 17:14] tychoish commented on #5590
I believe that the new p2p stack successfully disallows connections from nodes that it's already connected to (modulo bugs), which I think means that this might be close-able, if I'm reading the goal correctly.

I'm also reasonably sure that this doesn't need to be in the v0.35 milestone, but I might be reading that wrong.

[2021-08-06 21:29] thanethomson opened #6802 "rpc: `/tx` endpoint `hash` parameter encoding inconsistency"
**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

0.34.10

**ABCI app** (name for built-in, URL for self-written if it's publicly available):

kvstore

**What happened**:

It appears as though the expected encoding of the `hash` parameter for the [`/tx` RPC endpoint](https://docs.tendermint.com/master/rpc/#/Info/tx) differs between the UR

[2021-08-06 21:48] creachadair commented on #6784
A specific log of all the panics: https://git.io/JRsjm

The handful that have explicit comments are interesting in themselves, and are attached here. The very rough tool I used to generate this output can be found in my [working branch](https://github.com/tendermint/tendermint/tree/panic-at-the-mint). I plan to bash it into something we could use as a presubmit or lint check, but right now it's ju

[2021-08-08 17:56] Freak12Techno opened #6804 "`panic: unable to delete version X with Y active readers`"
I have the Osmosis node I use for monitoring and sometimes it crashes with the message like this:

[code]

I assume it has something to do with my pruning, so here they are:
[code]

My concern here is that IMO even if the node is misconfigured (I think that may be my case) the node shouldn't crash if the blocks could not be pruned.

**Tendermint version** (use `tendermint version` or `git rev-pars

[2021-08-09 07:19] summerpro opened #6805 "Data synchronization function proposal"
Hello, tendermint team, we are the development team from exchain, and we have implanted evm based on cosmos-sdk.
## Summary

## Problem Definition
We hope to have such a node between the light node and the validator node, called the rpc node, which can provide a lot of query work and can have a lower hardware configuration.

We now have some full nodes with relatively low machine configuration, bu

[2021-08-09 07:28] cmwaters commented on #6805
Hey @summerpro. Thanks for reaching out!

Incidentally, a big chunk of our work at the moment is looking into improving the node initialization, structure and composability. We already have in mind an "archive" node (name pending) which entails something similar to what you describe. You can find the issue here https://github.com/tendermint/tendermint/issues/5615

[2021-08-09 07:50] marbar3778 commented on #6804
@alexanderbez & likhita-809  this has overlap with https://github.com/cosmos/cosmos-sdk/issues/9570.

The issue you mention is a cosmos-sdk issue. The reader is, most likely, state sync and you are pruning versions before you can take a snapshot. You would need to change the pruning settings to be a multiple of snapshot_interval.

[2021-08-09 07:50] #6804 closed

[2021-08-09 07:53] Freak12Techno commented on #6804
@marbar3778  I agree, but should the node panic and crash in that case? For me it seems like this shouldn't cause the node crash, I've seen a ticket on tendermint on "don't panic" policy, that's why I've reported this.

[2021-08-09 07:55] summerpro commented on #6805
thank you for your reply

[2021-08-09 07:56] marbar3778 commented on #6804
agree, this panic should be caught by the application or just error out. If the application panics there is no way for tendermint to avoid panicking.

[2021-08-09 08:00] Freak12Techno commented on #6804
@marbar3778 can you clarify it it's tendermint or cosmos which panics?
If it's tendermint, imo instead it should log an error or something and just continue working, and therefore it should be fixed on tendermint side, if it's cosmos then it should be fixed there and we should either open another issue on that on cosmos-sdk or add this to the existing one.
I've seen tendermint in stacktrace, that'

[2021-08-09 08:13] marbar3778 commented on #6804
the sdk is the one crashing here. The stack trace shows the entire path, but usually where it starts is the culprit. I had an issue here https://github.com/cosmos/cosmos-sdk/issues/9570 but then couldnt reproduce.

[2021-08-09 08:14] marbar3778 commented on #6805
Closing this in favor of #5615. If you, @summerpro have further comments, can you comment there?

[2021-08-09 08:14] #6805 closed

[2021-08-09 08:17] serge1peshcoff commented on #6804
okay, got it. let me know if I can be of any help on reproducing this.
My idea is that I have a bunch of scripts that do some heavy requests (such as all validators request) to both grpc and tendermint rpc node, maybe they are readers here?

[2021-08-09 08:18] Freak12Techno commented on #6804
okay, got it. let me know if I can be of any help on reproducing this.
My idea is that I have a bunch of scripts that do some heavy requests (such as all validators request) to both grpc and tendermint rpc node, maybe they are readers here?

[2021-08-09 20:53] mrihn opened #6808 "degradation in throughput over time"
**Tendermint version**
0.34.11

**ABCI app** (name for built-in, URL for self-written if it's publicly available):
kvstore

**Environment**:
Ubuntu 20.04

**What happened**:
The throughput of a Tendermint node (or cluster of nodes) degrades significantly as more transactions are sent.
The maximum achievable transaction rate declines by 50% or more after a few hundred thousand transactions have bee

[2021-08-09 21:40] creachadair commented on #6802
Thank you for your report! I agree, this is confusingly underspecified right now, and we will do our best to make it better.

The root of the issue is that binary data (including hashes and transaction blobs) are conventionally encoded in JSON as string values in base64. However, the URL processing code doesn't know about base64: It accepts either `"quoted literal strings"` (not base64-encoded) or

[2021-08-09 22:02] creachadair opened #6809 "Improve OpenAPI documentation on URL parameters"
The Arguments section of the [OpenAPI schema](https://docs.tendermint.com/master/rpc) has a fairly terse description of the argument formats that are accepted:

Unlike the JSON fields into which these arguments are substituted, these parameters are _not_ encoded, except in the usual way for a URL (i.e., `%xx` encodings for URI separators, control characters, etc.). This should be spelled out.

Rel

[2021-08-09 23:01] creachadair commented on #6802
After some further investigation, I think I now understand why the JSON endpoint is (IMO incorrectly) insisting on the hash being base64 encoded in some contexts but not others.

- Most of the service plumbing expects hashes to be hex-encoded (using the [`HexBytes`](https://pkg.go.dev/github.com/tendermint/tendermint/libs/bytes#HexBytes) type in the Go code).
- However, when the service parses JSO

[2021-08-10 00:17] thanethomson commented on #6802
Thanks @creachadair! Do you think this warrants implementing a change here then? If so, what version of Tendermint would that change target? (it's effectively a minor breaking change to the RPC)

I'm implementing a [fix](https://github.com/informalsystems/tendermint-rs/pull/948) on the `tendermint-rs` side that will use base64 encoding for now, but is easy to change back to hexadecimal encoding (j

[2021-08-10 00:22] creachadair commented on #6802
In my view this definitely needs to be fixed. It is a breaking change, but one that I think we should make as a bug fix, on the principle that anyone who was relying on this behaviour previously was already working around an obviously-incorrect behaviour. I believe this can only happen with requests sent as JSON to the HTTP endpoint, so it shouldn't (at least in principle) affect folks using the l

[2021-08-10 01:53] summerpro commented on #6805
ok

[2021-08-10 07:38] marbar3778 commented on #6808
Thanks for opening this issue. Do you happen to have data from your findings you can share?

Was the mempool full?
Were blocks being filled?

[2021-08-10 20:20] tessr commented on #6555
I think this question (from @tychoish) is reasonable, and @marbar3778's suggestion to ask in the validators channel is also a good one. We don't have to make a whole thing, but just dropping in and asking how people use these methods should give us a better idea of how it would impact folks to remove them. Sam, do you want to take that one since your face is on the ticket?

[2021-08-10 20:22] tessr commented on #5688
I think the key issues (reverse sync / e2e testing) have been covered for 0.35. I'm moving this to the next milestone.

[2021-08-11 03:51] mrihn commented on #6808
The blocks were still being filled. The mempool did not seem to be full. I was not seeing any messages about the mempool size when I was running with the default log-level. I tried running with log-level set to debug, and then I was seeing the mempool messages indicating that the num_txs was in the hundreds. I originally had the max number of transactions in the mempool set to the default of 5000,

[2021-08-11 10:25] tac0turtle opened #6814 "proposal: Genesis Params"
## Summary

Consensus params that are not allowed to be changed are grouped with ones that can change. The ones that are not allowed to be changed or require an extremely high amount of coordination should be left to off chain coordination and/or halting a chain.

For example, changing the validator params would cause a network to halt unless there is a high amount of coordination between develope

[2021-08-11 11:11] devanshi318 opened #6815 "Tendermint- ABCI"
Hello, How can I configure ABCI in tendermint and what write in command in![Screenshot 2021-08-11 at 4 40 19 PM](https://user-images.githubusercontent.com/49709121/129019229-3a485db6-4786-4560-ae88-b92955929585.png) code!

abci0:
    container_name: abci0
    image: "abci-image"
    build:
      context: .
      dockerfile: abci.Dockerfile
    command: <insert command to run your abci application>

[2021-08-11 12:32] marbar3778 commented on #6815
Hey, thanks for opening an issue. What sort of configuration are you talking about?

In the photo you show docker, this should work out of the box. Does it now?

[2021-08-11 12:48] devanshi318 commented on #6815
I need to configure abci in tendermint. Just run four nodes using tendermint and now I want to add abci in the application. So I just followed the steps which were defined in the link (https://docs.tendermint.com/master/networks/docker-compose.html#configuring-abci-containers). But I don't know what to write "<insert command to run your abci application>" instead of this in abci0, abci1, abci2, ab

[2021-08-11 14:43] tychoish commented on #6808
In addition to profiling, I'd be interested in seeing (if you have collected it) a thread dump/stack trace of a running process that's acting slow. I believe there's a pprof endpoint that provides this but you can also send SIGABRT to a go process to get it to dump this dump.

[2021-08-11 15:51] mrihn commented on #6808
I have not done any profiling before, but I will take a look at the pprof tool and collect that additional data

[2021-08-11 16:14] greg-szabo commented on #6555
Quick validator opinion:
* "unsafe" methods must be unsafe for a reason so I expect them to change/break/burn at any moment. (More like "dev" or "beta".) They are disabled in production environments and if they need to be enabled, they are considered a workaround until the feature gets into a stable state. I understand, that's not the original purpose of the tag, but at one point you have to let t

[2021-08-12 05:29] mrihn commented on #6808
I did not figure out how to collect a stack trace with the pprof tool, but I did collect one with the perf command:

[perf.report.txt](https://github.com/tendermint/tendermint/files/6973037/perf.report.txt)

[2021-08-12 06:03] devanshi318 commented on #6815
@marbar3778  Waiting for your answer!

[2021-08-12 09:07] lukema95 opened #6818 "abci.socketClient connect failed"
When I execute the following command, the program reports an error
[code]
I try to delete the ~/.tendermint and try it again , but it does not work.

[2021-08-12 09:49] marbar3778 commented on #6818
What command was run? the above exerpt does not show.

[2021-08-12 10:23] devanshi318 commented on #6818
When I execute "make localnet-start" command, the program reports an error:

node0  | 2021-08-12T10:15:59Z INFO starting service impl=multiAppConn module=proxy service=multiAppConn
node0  | 2021-08-12T10:15:59Z INFO starting service connection=query impl=socketClient module=abci-client service=socketClient
abci0 exited with code 0
node0  | 2021-08-12T10:16:02Z ERROR abci.socketClient failed to con

[2021-08-12 10:26] marbar3778 commented on #6392
@tychoish closed?

[2021-08-12 11:15] marbar3778 commented on #6815
do you have a link to some code? I cant see any issues, from the docs

[2021-08-12 12:30] lukema95 commented on #6818
I execute ' tendermint start proxy_app=kvstore '

[2021-08-12 12:53] lukema95 commented on #6818
And I found that after installing tendermint, there was no problem when I started it for the first time, and then I would have this error when I exited and restarted

[2021-08-12 13:32] devanshi318 commented on #6815
The issue is solved but now getting new problem. I just start 4 nodes abci using tendermint and docker. Now I want to the transaction between 2 nodes.

-> "make localnet-start" command
response:

node1  | 2021-08-12T12:11:53Z INFO Dialing peer address={"id":"4174b7b75ef104a447ac016f48066a7f3e26a859","ip":"192.167.10.5","port":26656} module=p2p
node1  | 2021-08-12T12:11:53Z INFO starting service im

[2021-08-13 13:35] marbar3778 commented on #5681
Seems like there is general agreement for removing the protocol. I would propose we close all issues, mark v2 as deprecated in 0.35 and remove it in 0.36?

 @ebuchman, as your team spent many months on this work, I would love to have your support in this work.

[2021-08-13 15:58] JayT106 opened #6824 "p2p/conn: peer connection dropped due to long message receiving blocks the pong message."
the original discussion is from this thread
https://github.com/cosmos/cosmos-sdk/issues/9686#issuecomment-897275507

In short, the p2p MConnection.recvRoutine, if a message or many messages blocks (might be due to the slow connection situation) the receiving process, the recvRoutine cannot receive the pong message in time (within 45 secs after the ping message was sent). the program will break the

[2021-08-13 19:39] #6555 closed

[2021-08-16 15:18] liamsi commented on #5911
The @celestiaorg team also needs this feature. I'm happy to help with this. We might try to implement this in our fork first and then upstream it. Is there a good overview on the open questions and what needs further investigation?

[2021-08-16 18:14] tychoish commented on #5588
We talked about this today, in person, and I wanted to update this ticket with some details of that conversation.

- When listening on potentially mutliple interfaces (e.g. `0.0.0.0`) it's very hard to figure out, what the correct mapping of local interfaces to publicity routable addresses, at best we could just *guess* but this would probably produce some wrong responses which might be frustratin

[2021-08-16 20:16] tessr commented on #5911
Awesome. tbh, I expect the first order of business here is collecting those open questions and doing the investigation.

[2021-08-16 20:33] tessr commented on #6072
Tagged `v0.35.0-dev` at `ecd3cbc2bd1c28987dcac327072a88e290a6fc5e`, which is the first commit on master _after_ the last commit that is on both `master` and `0.34.x`. This might be slightly wonky, because we started using the `0.34.x` terminology after that point (we used `release/x` for a while), but after the next release it should be fine.

[2021-08-16 20:37] ValarDragon commented on #5911
The big issue we run into within Osmosis is that whenever we have a long block, the entire p2p network disconnects, and has to begin reforming after the block goes out. This causes significant validator outages / issues with getting the p2p network to reconnect after each such long block.

This problem for Osmosis would probably also be solved by having some sort of keep-alive system in the p2p la

[2021-08-17 09:40] Wondertan commented on #5588
According to the recent discussions regarding the transition to libp2p stack, I suggest adding that as a solution, as libp2p solves the described issue out of the box and promotes all the p2p nodes to listen on `0.0.0.0`.

[2021-08-17 11:44] marbar3778 opened #6828 "backport event fixes"
## Summary

The ibc relayers have asked to back port the postgres event sink work along side the refactor of event subscription to 0.34. The event subscription should be put behind a feature flag to prevent causing a larger event system break.

The reason for the back port is to use these features with current chains instead of waiting for them to come at a later date and then refactor parts of th

[2021-08-17 13:28] #6072 closed

[2021-08-17 13:31] williambanfield commented on #5588
Thanks for the info @Wondertan. I'm curious how they solve this problem, would you mind linking to some documentation to help give me a sense of what the libp2p project does in this case?

[2021-08-17 14:55] Wondertan commented on #5588
@williambanfield,
* There is utility [identify protocol](https://github.com/libp2p/specs/tree/master/identify) which is run between libp2p Hosts on connection establishment by default. It has [observedAddr](https://github.com/libp2p/specs/tree/master/identify#observedaddr) message field, which peers exchange with each other. E.g. NATed peer A connects to public peer B. Peer B accepts the connectio

[2021-08-17 15:44] tessr commented on #6828
on the SDK call, Jack just mentioned it would be great to get this released in the next month or two. I think that's probably doable :)

[2021-08-17 16:34] tychoish commented on #5588
This looks super solid. I think you're right @Wondertan that libp2p offers an additional possible solution to this problem and I should have (correctly) outlined it as a thing we were considering.

I think the general path of pushing this off to 0.36 continues to be the correct one.